Repository GaryOcean428/vex-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

.pre-commit-config.yaml:

repos:
  # ────────────────────────────────────────────────────────────────────────
  # Standard file hygiene
  # ────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # ────────────────────────────────────────────────────────────────────────
  # Python — Ruff linter + formatter
  # ────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]

  # ────────────────────────────────────────────────────────────────────────
  # Python — mypy type checking
  # ────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: mypy
        name: mypy (Python type checker)
        language: system
        entry: uv run mypy
        args: [kernel/]
        pass_filenames: false
        types: [python]
        stages: [pre-push]

  # ────────────────────────────────────────────────────────────────────────
  # PurityGate — Geometric purity (ZERO TOLERANCE, fail-closed)
  # Blocks commits that introduce Euclidean contamination into
  # consciousness/geometry modules.
  # ────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: purity-gate
        name: PurityGate (geometric purity v6.0)
        language: system
        entry: uv run python -m kernel.governance.purity
        pass_filenames: false
        types: [python]
        always_run: false

  # ────────────────────────────────────────────────────────────────────────
  # TypeScript / Frontend — ESLint
  # ────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: eslint-proxy
        name: ESLint (TS proxy — src/)
        language: system
        entry: pnpm run lint
        pass_filenames: false
        types_or: [ts, tsx]
        files: ^src/

      - id: eslint-frontend
        name: ESLint (frontend — frontend/src/)
        language: system
        entry: bash -c 'cd frontend && pnpm run lint'
        pass_filenames: false
        types_or: [ts, tsx]
        files: ^frontend/src/

  # ────────────────────────────────────────────────────────────────────────
  # TypeScript / Frontend — Prettier format check
  # ────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: prettier-proxy
        name: Prettier (TS proxy — src/)
        language: system
        entry: pnpm run format:check
        pass_filenames: false
        types_or: [ts, tsx]
        files: ^src/

Update kernel/governance/budget.py
  kernel/governance/budget.py
Due: mypy, purity-gate

fix: graceful Redis fallback + add BudgetEnforcer.reconcile_count
  kernel/chat/store.py
  kernel/governance/budget.py
Due: mypy, purity-gate

Rename kernel_voice.py to kernel_voice.py.old
  kernel/consciousness/kernel_voice.py.old
Due: none

Add files via upload
  kernel/consciousness/kernel_voice.py
Due: mypy, purity-gate

Delete kernel/consciousness/kernel_voice.py.old
  kernel/consciousness/kernel_voice.py.old
Due: none

fix(frontend): restore all missing component CSS and fix @tailwind directive placement
  frontend/src/index.css
Due: none

chore: update frontend package-lock.json after npm install
  frontend/package-lock.json
Due: none

fix(frontend): restore Layout, ErrorBoundary, Toast, CommandPalette, Login, and Dashboard CSS
  frontend/src/index.css
Due: none

fix(deploy): resolve container restart loop from health check timeouts
  Dockerfile
  entrypoint.sh
  init.sh
  railway.toml
  src/index.ts
Due: eslint-proxy, prettier-proxy

fix: derive kernel output limits from consciousness loop, not static constants
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/loop.py
  kernel/consciousness/reflection.py
  kernel/consciousness/synthesis.py
Due: mypy, purity-gate

fix(frontend): restore UI navigation panels and consistent CSS styling
  frontend/src/components/Layout.tsx
  frontend/src/components/ThemeSwitcher.tsx
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/index.css
Due: eslint-frontend

fix: add 'llm_cogeneration' to JSONL ingest valid sources
  kernel/coordizer_v2/jsonl_ingest.py
  kernel/tests/test_jsonl_ingest.py
Due: mypy, purity-gate

fix: enable search capability for Perplexity, xAI Grok, and Ollama models
  kernel/llm/client.py
  kernel/llm/governor.py
  kernel/server.py
  kernel/tools/handler.py
Due: mypy, purity-gate

feat: add Redis conversation persistence with JSONL fallback
  kernel/chat/store.py
  kernel/config/settings.py
  pyproject.toml
Due: mypy, purity-gate

fix: resolve CI failures — mypy strict, ruff format, prettier
  kernel/auth.py
  kernel/chat/store.py
  kernel/config/consciousness_constants.py
  kernel/consciousness/coupling.py
  kernel/consciousness/loop.py
  kernel/consciousness/pillars.py
  kernel/consciousness/solfeggio.py
  kernel/consciousness/systems.py
  kernel/coordizer_v2/adapter.py
  kernel/coordizer_v2/compress.py
  kernel/coordizer_v2/coordizer.py
  kernel/coordizer_v2/geometry.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/jsonl_ingest.py
  kernel/coordizer_v2/modal_integration.py
  kernel/coordizer_v2/resonance_bank.py
  kernel/coordizer_v2/validate.py
  kernel/geometry/fisher_rao.py
  kernel/governance/purity.py
  src/chat/router.ts
  src/tools/compute-sandbox.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

style: reformat agent skill scripts with ruff
  .agents/skills/crawl-url/scripts/crawl_url.py
  .agents/skills/deal-hunt/scripts/deal_hunt.py
  .agents/skills/research/scripts/research.py
  .agents/skills/skill-creator/scripts/init_skill.py
  .agents/skills/skill-creator/scripts/quick_validate.py
Due: mypy, purity-gate

fix: address review comments — Redis perf, type safety, CI fixes
  kernel/chat/store.py
  kernel/config/settings.py
  kernel/coordizer_v2/resonance_bank.py
  kernel/tests/test_consciousness.py
Due: mypy, purity-gate

fix: remove 52 unused type: ignore comments (mypy strict CI)
  kernel/auth.py
  kernel/consciousness/beta_router.py
  kernel/coordizer_v2/harvest.py
  kernel/server.py
  kernel/training/ingest.py
Due: mypy, purity-gate

fix: add types-requests to lint deps for mypy strict
  pyproject.toml
Due: none

fix: resolve undefined ConversationStore, duplicate RedisConfig, and 30 mypy errors
  kernel/chat/store.py
  kernel/config/settings.py
  kernel/consciousness/harvest_bridge.py
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/loop.py
  kernel/consciousness/sensations.py
  kernel/coordizer_v2/geometry.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/modal_harvest.py
Due: mypy, purity-gate

chore: update uv.lock with types-requests dependency
  uv.lock
Due: none

fix: apply ruff formatting to 5 files failing CI format check
  kernel/consciousness/domain_seeds.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/consciousness/pillars.py
  kernel/coordizer_v2/geometry.py
Due: mypy, purity-gate

docs(setup): migrate from npm to pnpm + update LLM stack to GLM-4.7-Flash/Modal
  .env.example
  frontend/src/components/chat/PipelineTrace.tsx
  kernel/consciousness/harvest_bridge.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/consciousness/systems.py
  kernel/consciousness/thought_bus.py
  kernel/coordizer_v2/resonance_bank.py
Due: mypy, purity-gate, eslint-frontend

feat(frontend): fluid responsive layout with nav drawer + container queries
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/chat/MetricsSidebar.tsx
  frontend/src/index.css
  frontend/src/pages/Chat.tsx
  frontend/src/pages/MobileMetrics.tsx
Due: eslint-frontend
