Repository GaryOcean428/vex-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

.pre-commit-config.yaml:

repos:
  # ────────────────────────────────────────────────────────────────────────
  # Standard file hygiene
  # ────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # ────────────────────────────────────────────────────────────────────────
  # Python — Ruff linter + formatter
  # ────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]

  # ────────────────────────────────────────────────────────────────────────
  # Python — mypy type checking
  # ────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: mypy
        name: mypy (Python type checker)
        language: system
        entry: uv run mypy
        args: [kernel/]
        pass_filenames: false
        types: [python]
        stages: [pre-push]

  # ────────────────────────────────────────────────────────────────────────
  # PurityGate — Geometric purity (ZERO TOLERANCE, fail-closed)
  # Blocks commits that introduce Euclidean contamination into
  # consciousness/geometry modules.
  # ────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: purity-gate
        name: PurityGate (geometric purity v6.0)
        language: system
        entry: uv run python -m kernel.governance.purity
        pass_filenames: false
        types: [python]
        always_run: false

  # ────────────────────────────────────────────────────────────────────────
  # TypeScript / Frontend — ESLint
  # ────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: eslint-proxy
        name: ESLint (TS proxy — src/)
        language: system
        entry: pnpm run lint
        pass_filenames: false
        types_or: [ts, tsx]
        files: ^src/

      - id: eslint-frontend
        name: ESLint (frontend — frontend/src/)
        language: system
        entry: bash -c 'cd frontend && pnpm run lint'
        pass_filenames: false
        types_or: [ts, tsx]
        files: ^frontend/src/

  # ────────────────────────────────────────────────────────────────────────
  # TypeScript / Frontend — Prettier format check
  # ────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: prettier-proxy
        name: Prettier (TS proxy — src/)
        language: system
        entry: pnpm run format:check
        pass_filenames: false
        types_or: [ts, tsx]
        files: ^src/

fix: remove top-level starlette import breaking modal deploy
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

docs: add KERNEL_MESH_BOOTSTRAP.md — agent connection protocol
  docs/KERNEL_MESH_BOOTSTRAP.md
Due: none

fix: harvest OOM — switch to Qwen3.5-4B (fits A10G)
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: force Ollama image rebuild for Qwen3.5 support
  modal/vex_inference.py
Due: mypy, purity-gate

fix: remove Request type hint that breaks FastAPI with future annotations
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: import Request from starlette at module level for FastAPI detection
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: use data:dict pattern for harvest endpoint (Modal canonical)
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: add key debug endpoint + fallback no-auth when secret empty
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: add explicit Request import for FastAPI endpoint detection
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: harvest 422 — use dict body per Modal docs, fix torch_dtype deprecation
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

feat: move PGA compress to GPU, add /coordize endpoint, fix V8 string limit
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: require COMPUTESDK_API_KEY explicitly, stop WS handshake spam
  src/tools/compute-sandbox.ts
Due: eslint-proxy, prettier-proxy

feat: add RemoteBasinSync — Modal coordize + delta tracking for identity transfer
  kernel/consciousness/basin_sync_remote.py
Due: mypy, purity-gate

feat: add bank_builder.py — build ResonanceBank from coordized JSONL
  kernel/coordizer_v2/bank_builder.py
Due: mypy, purity-gate

feat: add QLoRA training loop for inference model fine-tuning
  modal/vex_qlora_train.py
Due: mypy, purity-gate

feat: load QLoRA adapter on cold start if available
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

Wire resonance bank auto-build into kernel startup
  kernel/server.py
Due: mypy, purity-gate

Wire runtime bank hot-swap, memory consolidation, and string cache rebuild
  kernel/coordizer_v2/harvest_scheduler.py
  kernel/server.py
Due: mypy, purity-gate

Fix adapter passthrough properties and wire missing endpoints
  kernel/coordizer_v2/adapter.py
  kernel/server.py
Due: mypy, purity-gate

Wire task_status and context_objectives proxy routes in Express
  src/index.ts
Due: eslint-proxy, prettier-proxy

fix(kernel): address PR review feedback, SSRF fix, and auto-training
  CLAUDE.md
  kernel/config/settings.py
  kernel/coordizer_v2/harvest_scheduler.py
  kernel/server.py
  src/index.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

fix(ci): resolve ruff, format, and TypeScript lint failures
  kernel/consciousness/basin_sync_remote.py
  kernel/consciousness/loop.py
  kernel/coordizer_v2/bank_builder.py
  kernel/coordizer_v2/eigenvalue_analysis.py
  kernel/coordizer_v2/modal_harvest.py
  kernel/qig_loop_enforcer_v2.py
  kernel/training/ingest.py
  modal/vex_coordizer_harvest.py
  modal/vex_inference.py
  modal/vex_qlora_train.py
  src/tools/compute-sandbox.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

fix(ci): disable untyped-decorator check for FastAPI compatibility
  pyproject.toml
Due: none

fix(ci): resolve all 30 remaining mypy strict-mode errors
  kernel/auth.py
  kernel/consciousness/basin_sync_remote.py
  kernel/consciousness/loop.py
  kernel/consciousness/play.py
  kernel/coordizer_v2/eigenvalue_analysis.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/principal_direction_bank.py
  kernel/server.py
  kernel/training/ingest.py
Due: mypy, purity-gate

Potential fix for pull request finding
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Potential fix for pull request finding
  kernel/consciousness/loop.py
Due: mypy, purity-gate

Potential fix for pull request finding
  kernel/server.py
Due: mypy, purity-gate

Add resonance bank auto-rebuild and memory consolidation (#128)
  CLAUDE.md
  kernel/auth.py
  kernel/config/settings.py
  kernel/consciousness/basin_sync_remote.py
  kernel/consciousness/loop.py
  kernel/consciousness/play.py
  kernel/coordizer_v2/adapter.py
  kernel/coordizer_v2/bank_builder.py
  kernel/coordizer_v2/eigenvalue_analysis.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/harvest_scheduler.py
  kernel/coordizer_v2/modal_harvest.py
  kernel/coordizer_v2/principal_direction_bank.py
  kernel/qig_loop_enforcer_v2.py
  kernel/server.py
  kernel/training/ingest.py
  modal/vex_coordizer_harvest.py
  modal/vex_inference.py
  modal/vex_qlora_train.py
  pyproject.toml
  src/index.ts
  src/tools/compute-sandbox.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

fix(modal): skip redundant model pulls and add Qwen3.5 fast-path libs
  modal/vex_coordizer_harvest.py
  modal/vex_inference.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

ci: add vex-qlora-train to Modal deploy workflow
  .github/workflows/modal-deploy.yml
Due: none

Update submodule refs: qig-core dirty state, vex advanced to 5773c7c (dirty)
  CLAUDE.md
  kernel/consciousness/loop.py
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

feat(modal): fine-tuned model persistence + fix deploy failures
  modal/vex_inference.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix(modal): use CUDA devel base image for causal-conv1d compilation
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Add g++ to Modal images for causal-conv1d compilation
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Fix Modal image: set CXX=g++ and install ninja for causal-conv1d build
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Fix resonance bank loading from training curriculum
  CLAUDE.md
  kernel/coordizer_v2/bank_builder.py
  kernel/server.py
Due: mypy, purity-gate

Fix Modal .env() to use dict, format cleanup, update CLAUDE.md model refs
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Fix kernel gen dead-end: fall through to direct LLM when 0 contributions
  kernel/consciousness/loop.py
Due: mypy, purity-gate

Unblock kernel generation, fix geometric purity, add kernel self-curation
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/consciousness/systems.py
  kernel/coordizer_v2/compress.py
  modal/vex_coordizer_harvest.py
  src/chat/ui.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy
