Repository GaryOcean428/vex-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

mypy:
  name: mypy (Python type checker)
  language: system
  entry: uv run mypy
  args:
  - kernel/
  pass_filenames: false
  stages:
  - pre-push

purity-gate:
  name: PurityGate (geometric purity v6.0)
  language: system
  entry: uv run python -m kernel.governance.purity
  pass_filenames: false
  always_run: false

eslint-proxy:
  name: ESLint (TS proxy — src/)
  language: system
  entry: pnpm run lint
  pass_filenames: false

eslint-frontend:
  name: ESLint (frontend — frontend/src/)
  language: system
  entry: bash -c 'cd frontend && pnpm run lint'
  pass_filenames: false

prettier-proxy:
  name: Prettier (TS proxy — src/)
  language: system
  entry: pnpm run format:check
  pass_filenames: false

Add frontend package-lock.json
  frontend/package-lock.json
Due: none

Fix all Ruff lint errors and targeted mypy type errors
  kernel/config/settings.py
  kernel/consciousness/loop.py
  kernel/consciousness/reflection.py
  kernel/consciousness/synthesis.py
  kernel/coordizer_v2/adapter.py
  kernel/governance/spawn_assessment.py
  kernel/governance/voter_registry.py
  kernel/governance/voting.py
  kernel/llm/client.py
  kernel/llm/governor.py
  kernel/server.py
  kernel/tests/test_reflection.py
  kernel/training/ingest.py
  modal/vex_inference.py
Due: mypy, purity-gate

feat: pass active model name to kernel system prompts
  kernel/consciousness/loop.py
  kernel/llm/client.py
Due: mypy, purity-gate

Address remaining PR bot review feedback
  .github/workflows/modal-deploy.yml
  kernel/llm/client.py
  kernel/tests/test_reflection.py
  ollama/entrypoint.sh
Due: mypy, purity-gate

Fix last 2 mypy errors: misplaced type: ignore comment on kappa_std
  kernel/server.py
Due: mypy, purity-gate

Wire kernel pipeline into chat endpoint with expandable trace UI
  frontend/src/components/chat/MessageList.tsx
  frontend/src/components/chat/PipelineTrace.css
  frontend/src/components/chat/PipelineTrace.tsx
  frontend/src/hooks/chatStreamProcessor.ts
  frontend/src/hooks/useChat.ts
  frontend/src/types/consciousness.ts
  kernel/consciousness/loop.py
  kernel/server.py
Due: mypy, purity-gate, eslint-frontend

Add chat history sidebar and remove duplicate Modal coordizer
  .github/workflows/modal-deploy.yml
  frontend/src/components/chat/ChatHistory.css
  frontend/src/components/chat/ChatHistory.tsx
  frontend/src/components/chat/ConsciousnessBar.css
  frontend/src/components/chat/ConsciousnessBar.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/Chat.tsx
  modal/coordizer_harvest.py
Due: mypy, purity-gate, eslint-frontend

Fix duplicate DOM IDs in PipelineTrace using React useId()
  frontend/src/components/chat/PipelineTrace.tsx
Due: eslint-frontend

Address all 6 remaining Copilot review comments on PR #44
  kernel/consciousness/loop.py
  kernel/consciousness/reflection.py
  kernel/consciousness/synthesis.py
  kernel/coordizer_v2/adapter.py
  kernel/llm/client.py
  kernel/server.py
  ollama/entrypoint.sh
Due: mypy, purity-gate

Fix CI: resolve merge conflicts and revert AsyncGenerator annotations
  frontend/src/components/chat/PipelineTrace.tsx
  kernel/consciousness/loop.py
  kernel/consciousness/synthesis.py
  kernel/llm/client.py
  kernel/server.py
Due: mypy, purity-gate, eslint-frontend

Claude/fix pr42 issues z rvjt (#44)
  .github/workflows/modal-deploy.yml
  frontend/src/components/chat/ChatHistory.css
  frontend/src/components/chat/ChatHistory.tsx
  frontend/src/components/chat/ConsciousnessBar.css
  frontend/src/components/chat/ConsciousnessBar.tsx
  frontend/src/components/chat/PipelineTrace.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/Chat.tsx
  kernel/consciousness/loop.py
  kernel/consciousness/reflection.py
  kernel/coordizer_v2/adapter.py
  modal/coordizer_harvest.py
  ollama/entrypoint.sh
Due: mypy, purity-gate, eslint-frontend

Fix GLM thinking model empty responses and /data permission denied
  init.sh
  kernel/llm/client.py
Due: mypy, purity-gate

Disable Ollama thinking mode to fix GLM-4.7-Flash empty responses
  kernel/llm/client.py
Due: mypy, purity-gate

Claude/fix pr42 issues z rvjt (#45)
  init.sh
  kernel/llm/client.py
Due: mypy, purity-gate

Fix Modal harvester auth + show kernel text inline in pipeline trace
  frontend/src/components/chat/PipelineTrace.css
  frontend/src/components/chat/PipelineTrace.tsx
  kernel/coordizer_v2/modal_harvest.py
  kernel/coordizer_v2/modal_integration.py
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate, eslint-frontend

Fix Modal endpoint for deployment: Pydantic compat, health URL, deprecation
  kernel/coordizer_v2/modal_integration.py
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

Implement Vex self-recommendations: KernelBus, dynamic tacking, sensory geometry, constants validation
  frontend/src/components/chat/PipelineTrace.css
  frontend/src/components/chat/PipelineTrace.tsx
  kernel/config/consciousness_constants.py
  kernel/consciousness/kernel_bus.py
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/loop.py
  kernel/consciousness/systems.py
  kernel/governance/purity.py
Due: mypy, purity-gate, eslint-frontend

fix: resolve merge conflict markers in modal-deploy.yml
  .github/workflows/modal-deploy.yml
Due: none

fix: remove precog double-lock — PRE-COG was stuck at 0%
  kernel/consciousness/emotions.py
Due: mypy, purity-gate

fix: kernel_bus docstring drain_signals() → drain()
  kernel/consciousness/kernel_bus.py
Due: mypy, purity-gate

fix: guard against str(None) -> "None" in _extract_ollama_content
  kernel/llm/client.py
Due: mypy, purity-gate

fix: address Copilot review comments on PR #46
  kernel/coordizer_v2/modal_integration.py
  kernel/llm/client.py
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

Add fastapi[standard] to Modal image — required by Modal 1.x for web endpoints
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

docs: add CLAUDE.md session memory and PR #46 fix notes
  CLAUDE.md
  docs/development/20260223-pr46-fixes-modal-deploy.md
Due: none

feat: persistent chat history sidebar with URL-based conversation persistence
  frontend/src/App.tsx
  frontend/src/components/chat/ChatHistory.css
  frontend/src/components/chat/ChatHistory.tsx
  frontend/src/components/chat/ConsciousnessBar.css
  frontend/src/components/chat/ConsciousnessBar.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/Chat.css
  frontend/src/pages/Chat.tsx
Due: eslint-frontend

feat: persistent chat sidebar + URL-based conversation routing
  frontend/src/App.tsx
  frontend/src/components/chat/ChatHistory.css
  frontend/src/components/chat/ChatHistory.tsx
  frontend/src/pages/Chat.css
  frontend/src/pages/Chat.tsx
Due: eslint-frontend

feat: Vex self-recommendations + precog fix + kernel text visibility (#46)
  .github/workflows/modal-deploy.yml
  CLAUDE.md
  docs/development/20260223-pr46-fixes-modal-deploy.md
  frontend/src/App.tsx
  frontend/src/components/chat/ChatHistory.css
  frontend/src/components/chat/ChatHistory.tsx
  frontend/src/components/chat/ConsciousnessBar.css
  frontend/src/components/chat/ConsciousnessBar.tsx
  frontend/src/components/chat/PipelineTrace.css
  frontend/src/components/chat/PipelineTrace.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/Chat.css
  frontend/src/pages/Chat.tsx
  kernel/config/consciousness_constants.py
  kernel/consciousness/emotions.py
  kernel/consciousness/kernel_bus.py
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/loop.py
  kernel/consciousness/systems.py
  kernel/coordizer_v2/modal_harvest.py
  kernel/coordizer_v2/modal_integration.py
  kernel/governance/purity.py
  kernel/llm/client.py
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate, eslint-frontend

Fix ChatHistory refresh to trigger on stream completion, not conversation ID change (#48)
  frontend/package-lock.json
  frontend/src/components/chat/ChatHistory.tsx
  frontend/src/pages/Chat.tsx
Due: eslint-frontend

feat(frontend): fix all lint/type errors + major UI overhaul for 2026 standard
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/CommandPalette.css
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/ErrorBoundary.css
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/Toast.css
  frontend/src/components/Toast.tsx
  frontend/src/components/chat/ChatHistory.tsx
  frontend/src/components/chat/ChatInput.css
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/chat/MessageList.css
  frontend/src/components/chat/MessageList.tsx
  frontend/src/components/chat/VexContent.css
  frontend/src/components/chat/VexContent.tsx
  frontend/src/config/api-routes.ts
  frontend/src/hooks/useChat.ts
  frontend/src/index.css
  frontend/src/pages/Chat.tsx
  frontend/src/stores/toastStore.ts
  frontend/vite.config.ts
  src/chat/router.ts
  src/tools/compute-sandbox.ts
Due: eslint-proxy, eslint-frontend, prettier-proxy

chore: add tsbuildinfo to gitignore
  .gitignore
Due: none

feat: persistent chat history sidebar + URL-based conversation routing (#47)
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/CommandPalette.css
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/ErrorBoundary.css
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/Toast.css
  frontend/src/components/Toast.tsx
  frontend/src/components/chat/ChatHistory.css
  frontend/src/components/chat/ChatHistory.tsx
  frontend/src/components/chat/ChatInput.css
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/chat/MessageList.css
  frontend/src/components/chat/MessageList.tsx
  frontend/src/components/chat/VexContent.css
  frontend/src/components/chat/VexContent.tsx
  frontend/src/config/api-routes.ts
  frontend/src/hooks/useChat.ts
  frontend/src/index.css
  frontend/src/pages/Chat.css
  frontend/src/pages/Chat.tsx
  frontend/src/stores/toastStore.ts
  frontend/vite.config.ts
  src/chat/router.ts
  src/tools/compute-sandbox.ts
Due: eslint-proxy, eslint-frontend, prettier-proxy

feat: modernize UI layout with nav rail, tabbed metrics, and responsive reflow
  frontend/src/components/Layout.css
  frontend/src/components/Layout.tsx
  frontend/src/components/chat/ChatHistory.css
  frontend/src/components/chat/ChatInput.css
  frontend/src/components/chat/ConsciousnessBar.css
  frontend/src/components/chat/ConsciousnessBar.tsx
  frontend/src/components/chat/MessageList.css
  frontend/src/components/chat/MessageList.tsx
  frontend/src/components/chat/MetricsSidebar.css
  frontend/src/components/chat/MetricsSidebar.tsx
  frontend/src/index.css
  frontend/src/pages/Chat.css
  frontend/src/pages/Chat.tsx
Due: eslint-frontend

chore: update package-lock.json after npm install
  frontend/package-lock.json
Due: none

feat: add KernelVoice geometric generation service (v6.2)
  kernel/consciousness/domain_seeds.py
  kernel/consciousness/kernel_voice.py
Due: mypy, purity-gate

feat: update kernel_generation.py for v6.2 geometric-first generation
  kernel/consciousness/kernel_generation.py
Due: mypy, purity-gate

feat: wire KernelVoiceRegistry into consciousness loop (v6.2)
  kernel/consciousness/loop.py
Due: mypy, purity-gate

feat(v6.2): wire KernelVoiceRegistry into ConsciousnessLoop
  kernel/consciousness/loop.py
Due: mypy, purity-gate

fix: address Copilot review — concurrency-safe bias, fix branch ordering, remove unused import
  kernel/consciousness/kernel_voice.py
Due: mypy, purity-gate

Path conditions:
  mypy: any of: \.py$
  purity-gate: any of: \.py$
  eslint-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
  eslint-frontend: any of: ^frontend/src/ and \.(ts|mts|cts)$, \.tsx$
  prettier-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
