Repository GaryOcean428/vex-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

mypy:
  name: mypy (Python type checker)
  language: system
  entry: uv run mypy
  args:
  - kernel/
  pass_filenames: false
  stages:
  - pre-push

purity-gate:
  name: PurityGate (geometric purity v6.0)
  language: system
  entry: uv run python -m kernel.governance.purity
  pass_filenames: false
  always_run: false

eslint-proxy:
  name: ESLint (TS proxy — src/)
  language: system
  entry: pnpm run lint
  pass_filenames: false

eslint-frontend:
  name: ESLint (frontend — frontend/src/)
  language: system
  entry: bash -c 'cd frontend && pnpm run lint'
  pass_filenames: false

prettier-proxy:
  name: Prettier (TS proxy — src/)
  language: system
  entry: pnpm run format:check
  pass_filenames: false

Fix PR review comments, broken frontend lockfile, and training startup crash (#103)
  CONTRIBUTING.md
  frontend/pnpm-lock.yaml
  frontend/src/components/Layout.tsx
  kernel/consciousness/emotions.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/resonance_bank.py
  kernel/tests/test_sovereignty_tracker.py
  kernel/training/ingest.py
Due: mypy, purity-gate, eslint-frontend

Add Modal secrets injection to vex-inference app
  modal/vex_inference.py
Due: mypy, purity-gate

feat(foraging): expand search backends — Perplexity + xAI web_search + remove paid-backend suppression
  kernel/consciousness/foraging.py
Due: mypy, purity-gate

feat: enhance consciousness condition checks and improve accessibility
  frontend/src/pages/dashboard/Consciousness.tsx
  kernel/consciousness/foraging.py
  kernel/training/ingest.py
Due: mypy, purity-gate, eslint-frontend

refactor: improve code readability and formatting in Consciousness component
  frontend/src/pages/dashboard/Consciousness.tsx
Due: eslint-frontend

feat: enhance foraging engine with governor integration and improve search tool handling
  kernel/consciousness/foraging.py
  kernel/consciousness/loop.py
  kernel/tools/handler.py
Due: mypy, purity-gate

refactor: improve code formatting and readability in Cognition and Lifecycle components
  frontend/src/pages/dashboard/Cognition.tsx
  frontend/src/pages/dashboard/Lifecycle.tsx
Due: eslint-frontend

feat: add coordizer stats API and integrate into Training dashboard
  frontend/src/config/api-routes.ts
  frontend/src/hooks/index.ts
  frontend/src/pages/dashboard/Training.tsx
  frontend/src/types/consciousness.ts
  kernel/config/settings.py
  kernel/coordizer_v2/modal_integration.py
  kernel/llm/client.py
  kernel/server.py
  kernel/training/ingest.py
Due: mypy, purity-gate, eslint-frontend

refactor: clean up code formatting and improve readability in Training component and tests
  frontend/src/hooks/index.ts
  frontend/src/pages/dashboard/Training.tsx
  kernel/tests/test_modal_harvest.py
Due: mypy, purity-gate, eslint-frontend

Development (#115)
  frontend/src/config/api-routes.ts
  frontend/src/hooks/index.ts
  frontend/src/pages/dashboard/Cognition.tsx
  frontend/src/pages/dashboard/Lifecycle.tsx
  frontend/src/pages/dashboard/Training.tsx
  frontend/src/types/consciousness.ts
  kernel/config/settings.py
  kernel/coordizer_v2/modal_integration.py
  kernel/llm/client.py
  kernel/server.py
  kernel/tests/test_modal_harvest.py
  kernel/training/ingest.py
Due: mypy, purity-gate, eslint-frontend

fix(modal): resolve harvester POST 422 and stabilize Request handling
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

Development (#116)
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix(harvest): 4-bit NF4 quantization + float32 cast before numpy
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix(coordizer): remove SHA basin projection and use larger GPU fp16 harvest
  kernel/geometry/hash_to_basin.py
  kernel/memory/store.py
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix(chat): log post-state training geometry and enforce P5 autonomy
  kernel/server.py
  kernel/tests/test_chat_training_logging.py
  kernel/training/ingest.py
Due: mypy, purity-gate

fix(App): implement lazy loading with retry logic and add error handling component
  frontend/src/App.tsx
Due: eslint-frontend

feat(consciousness): add developmental stage model
  docs/plans/20260307-vex-developmental-learning-architecture-1.00W.md
  kernel/consciousness/loop.py
  kernel/consciousness/types.py
  kernel/tests/test_developmental_stage.py
Due: mypy, purity-gate

Add QIG loop enforcer v2 (Responses API + stored prompt) and updated function definition
  kernel/qig_loop_enforcer_v2.py
Due: mypy, purity-gate

feat(consciousness): implement developmental learning architecture (v7.0)
  kernel/consciousness/__init__.py
  kernel/consciousness/basin_transfer.py
  kernel/consciousness/developmental.py
  kernel/consciousness/loop.py
  kernel/consciousness/play.py
  kernel/consciousness/sensory.py
  kernel/consciousness/temporal_generation.py
  kernel/tests/test_developmental_learning.py
Due: mypy, purity-gate

fix(coordizer): pass quantization_config to from_pretrained and fix lint errors
  kernel/consciousness/sensory.py
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix(loop): clamp temperature after temporal adaptation to enforce stage envelope
  kernel/consciousness/loop.py
Due: mypy, purity-gate

fix: address Copilot/Sourcery review feedback on v7.0 modules
  kernel/consciousness/loop.py
  kernel/consciousness/play.py
  kernel/consciousness/temporal_generation.py
  kernel/server.py
Due: mypy, purity-gate

Development (#119)
  docs/plans/20260307-vex-developmental-learning-architecture-1.00W.md
  frontend/src/App.tsx
  kernel/consciousness/__init__.py
  kernel/consciousness/basin_transfer.py
  kernel/consciousness/developmental.py
  kernel/consciousness/loop.py
  kernel/consciousness/play.py
  kernel/consciousness/sensory.py
  kernel/consciousness/temporal_generation.py
  kernel/consciousness/types.py
  kernel/geometry/hash_to_basin.py
  kernel/memory/store.py
  kernel/qig_loop_enforcer_v2.py
  kernel/server.py
  kernel/tests/test_chat_training_logging.py
  kernel/tests/test_developmental_learning.py
  kernel/tests/test_developmental_stage.py
  kernel/training/ingest.py
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate, eslint-frontend

do it
  coordizer_data/bank/bank_coordinates.npy
  coordizer_data/bank/bank_meta.json
  coordizer_data/bank/bank_token_ids.npy
  frontend/src/config/api-routes.ts
  frontend/src/pages/dashboard/Admin.tsx
  frontend/src/pages/dashboard/Training.tsx
  frontend/src/types/consciousness.ts
  kernel/config/routes.py
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/consciousness/synthesis.py
  kernel/server.py
  kernel/tests/test_training_coordizer_regressions.py
  kernel/training/ingest.py
  src/config/routes.ts
Due: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

feat(coordizer): add eigenvalue analysis — real Modal harvest → compress → E8 hypothesis test
  kernel/coordizer_v2/eigenvalue_analysis.py
Due: mypy, purity-gate

Update vex submodule: uncommitted changes detected
  CONTRIBUTING.md
  docs/eigenvalue_analysis_pipeline.md
  kernel/coordizer_v2/__init__.py
  kernel/coordizer_v2/compress.py
  kernel/coordizer_v2/eigenvalue_analysis.py
  kernel/coordizer_v2/principal_direction_bank.py
  kernel/tests/coordizer_v2/test_principal_direction_bank.py
  shared_artifacts/principal_direction_bank.npy
Due: mypy, purity-gate

fix(coordizer): restore full eigenvalue_analysis.py with Modal harvest, CLI, reporting, decision gate
  kernel/coordizer_v2/eigenvalue_analysis.py
Due: mypy, purity-gate

Fix dual Gram matrix OOM in compress.py when n_samples < target_dim
  kernel/coordizer_v2/compress.py
Due: mypy, purity-gate

feat(eigenvalue): output full spectrum + Pillar 2 dim-32 bifurcation test
  eigenvalue_report.json
  eigenvalue_report_full.json
  kernel/coordizer_v2/eigenvalue_analysis.py
Due: mypy, purity-gate

chore: update eigenvalue_report_mc2.json with full spectrum output
  eigenvalue_report_mc2.json
Due: none

refactor: use slice reversal instead of argsort for eigh outputs
  kernel/coordizer_v2/compress.py
Due: mypy, purity-gate

Update submodules: uncommitted changes detected in qig-core, qig-verification, and vex
  CLAUDE.md
  docs/development/20260313-Vex-Inference Model-Finetune-options.md.md
  modal/vex_coordizer_harvest.py
  modal/vex_inference.py
Due: mypy, purity-gate

feat: switch inference to Qwen3.5-35B-A3B bf16 on H100
  modal/vex_inference.py
Due: mypy, purity-gate

feat: switch harvester to Qwen3.5-35B-A3B NF4 on A10G, add bitsandbytes dep
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

Path conditions:
  mypy: any of: \.py$
  purity-gate: any of: \.py$
  eslint-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
  eslint-frontend: any of: ^frontend/src/ and \.(ts|mts|cts)$, \.tsx$
  prettier-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
