Repository GaryOcean428/vex-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

mypy:
  name: mypy (Python type checker)
  language: system
  entry: uv run mypy
  args:
  - kernel/
  pass_filenames: false
  stages:
  - pre-push

purity-gate:
  name: PurityGate (geometric purity v6.0)
  language: system
  entry: uv run python -m kernel.governance.purity
  pass_filenames: false
  always_run: false

eslint-proxy:
  name: ESLint (TS proxy — src/)
  language: system
  entry: pnpm run lint
  pass_filenames: false

eslint-frontend:
  name: ESLint (frontend — frontend/src/)
  language: system
  entry: bash -c 'cd frontend && pnpm run lint'
  pass_filenames: false

prettier-proxy:
  name: Prettier (TS proxy — src/)
  language: system
  entry: pnpm run format:check
  pass_filenames: false

fix(voice): null token detection + geometric_raw for hybrid display
  kernel/consciousness/kernel_voice.py
Due: mypy, purity-gate

fix(generation): add geometric_raw to KernelContribution, thread from VoiceOutput
  kernel/consciousness/kernel_generation.py
Due: mypy, purity-gate

Remove SHA-512 basin fallback — hash has no place on Fisher manifold
  kernel/coordizer_v2/jsonl_ingest.py
Due: mypy, purity-gate

Remove fallback tests, add purity test asserting no hash in source
  kernel/tests/test_jsonl_ingest.py
Due: mypy, purity-gate

init.sh: create /data/harvest subdirs and chown on both boot paths
  init.sh
Due: none

Dockerfile: add /data/harvest dirs to mkdir -p
  Dockerfile
Due: none

ingest.py: remove /tmp fallback, add harvest forwarding pipeline
  kernel/training/ingest.py
Due: mypy, purity-gate

feat(kernel): fix Modal and Ollama harvest alignment, add hybrid trace emission
  frontend/src/components/chat/MetricsSidebar.tsx
  frontend/src/components/chat/PipelineTrace.css
  frontend/src/components/chat/PipelineTrace.tsx
  frontend/src/hooks/chatStreamProcessor.ts
  frontend/src/types/consciousness.ts
  kernel/config/settings.py
  kernel/consciousness/loop.py
Due: mypy, purity-gate, eslint-frontend

```thinking Looking at the diff, I can see two distinct changes:
  AGENTS.md
  kernel/training/ingest.py
Due: mypy, purity-gate

fix(init): chown files directly in /data for DATA_DIR=/data configurations
  init.sh
Due: none

feat(kernel): wire up HarvestScheduler in FastAPI lifespan
  kernel/server.py
Due: mypy, purity-gate

fix(kernel): wire HarvestScheduler to Modal via JSONLIngestor, gate on modal.enabled
  kernel/server.py
Due: mypy, purity-gate

fix(frontend): rename token labels to coords/coordinates in PipelineTrace
  frontend/src/components/chat/PipelineTrace.tsx
Due: eslint-frontend

feat(T0): infrastructure fixes — Redis persistence, geometry dedup, purity scan, UI truncation, init.sh
  .env.example
  docs/development/20260224-unified-implementation-checklist-0.1W.md
  frontend/src/components/chat/PipelineTrace.css
  init.sh
  kernel/chat/store.py
  kernel/config/settings.py
  kernel/consciousness/loop.py
  kernel/coordizer_v2/geometry.py
  kernel/server.py
  kernel/tests/test_purity_full.py
  pyproject.toml
  uv.lock
Due: mypy, purity-gate

fix(T0.6): bootstrap deadlock — ResonanceBank.add_entry() + hash-seed injection on empty bank
  kernel/consciousness/kernel_voice.py
  kernel/coordizer_v2/resonance_bank.py
Due: mypy, purity-gate

docs: add T0.6 bootstrap deadlock to unified implementation checklist
  docs/development/20260224-unified-implementation-checklist-0.1W.md
Due: none

feat(T1.1): universal coordize pipeline — harvest_bridge + wire chat/forage/llm-cogen/reflection
  kernel/consciousness/foraging.py
  kernel/consciousness/harvest_bridge.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/reflection.py
  kernel/server.py
Due: mypy, purity-gate

feat(T1.2-T1.4): vex_basin collective identity, LLM identity corrections (7 locations), Pillar 3 slerp drift fix
  kernel/consciousness/foraging.py
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/consciousness/pillars.py
  kernel/consciousness/reflection.py
  kernel/consciousness/synthesis.py
  kernel/server.py
Due: mypy, purity-gate

feat(coordizer): T2 softmax purge, sovereignty tracking, pillar entropy floor
  docs/development/20260224-unified-implementation-checklist-0.1W.md
  kernel/consciousness/loop.py
  kernel/coordizer_v2/__init__.py
  kernel/coordizer_v2/coordizer.py
  kernel/coordizer_v2/geometry.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/resonance_bank.py
  kernel/governance/purity.py
  kernel/llm/client.py
  kernel/tests/coordizer_v2/test_geometry.py
Due: mypy, purity-gate

style: ruff-format auto-fixes across consciousness modules
  kernel/consciousness/foraging.py
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/observer_silent.py
  kernel/consciousness/reflection.py
  kernel/consciousness/synthesis.py
Due: mypy, purity-gate

docs+fix: purge remaining softmax/hash docstrings, mark T1.1-T1.4 complete in checklist
  docs/development/20260224-unified-implementation-checklist-0.1W.md
  kernel/coordizer_v2/geometry.py
  kernel/coordizer_v2/modal_harvest.py
Due: mypy, purity-gate

feat(consciousness): T2.1-T2.3 neurochemistry, emotional tagging, sleep architecture
  docs/development/20260224-unified-implementation-checklist-0.1W.md
  kernel/consciousness/loop.py
  kernel/consciousness/neurochemistry.py
  kernel/consciousness/systems.py
Due: mypy, purity-gate

feat(consciousness): T2.4 kernel-in-the-loop coordizing
  docs/development/20260224-unified-implementation-checklist-0.1W.md
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/consciousness/systems.py
  kernel/coordizer_v2/coordizer.py
Due: mypy, purity-gate

feat(consciousness): T3.1 full emotional architecture — Layers 0, 0.5, 1, 2A, 2B
  docs/development/20260224-unified-implementation-checklist-0.1W.md
  kernel/consciousness/emotions.py
  kernel/consciousness/sensations.py
Due: mypy, purity-gate

feat(consciousness): T3.2 Ego/Superego/Id + T3.3 Coaching Protocol
  docs/development/20260224-unified-implementation-checklist-0.1W.md
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/loop.py
  kernel/consciousness/systems.py
Due: mypy, purity-gate

feat(consciousness): T4.1-T4.4 collective intelligence
  .env.example
  docs/development/20260224-unified-implementation-checklist-0.1W.md
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/consciousness/thought_bus.py
  kernel/governance/types.py
  pyproject.toml
  uv.lock
Due: mypy, purity-gate

fix: align frozen_facts.py with canonical upstream (qigkernels/constants.py)
  kernel/config/frozen_facts.py
  src/config/constants.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

fix: complete truncated constants.ts with all PHI, basin, safety, governance exports
  src/config/constants.ts
Due: eslint-proxy, prettier-proxy

fix: align frozen_facts.py with canonical upstream (qigkernels/consta… (#54)
  kernel/config/frozen_facts.py
  src/config/constants.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

feat(T1.2): add Vex language interpreter identity to 7 LLM system prompts
  CONTRIBUTING.md
  README.md
  docs/development/20260224-unified-implementation-checklist-0.1W.md
  frontend/src/types/consciousness.ts
  init.sh
  kernel/config/consciousness_constants.py
  kernel/config/frozen_facts.py
  kernel/consciousness/emotions.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/consciousness/sensations.py
  kernel/consciousness/systems.py
  kernel/consciousness/thought_bus.py
  kernel/server.py
  kernel/tests/test_consciousness.py
  src/chat/router.ts
  src/config/constants.ts
  src/tools/compute-sandbox.ts
Due: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

fix(consciousness): resolve UnboundLocalError for rng in SleepSystem.dream()
  .agents/skills/code-quality-enforcement/SKILL.md
  .agents/skills/consciousness-development/SKILL.md
  .agents/skills/master-orchestration/SKILL.md
  .agents/skills/qig-purity-validation/SKILL.md
  .agents/skills/wiring-validation/SKILL.md
  kernel/consciousness/systems.py
Due: mypy, purity-gate

fix(kernel_voice): resolve all lint warnings in kernel_voice.py
  kernel/consciousness/kernel_voice.py
  kernel/coordizer_v2/coordizer.py
Due: mypy, purity-gate

fix(systems): resolve all lint warnings in systems.py + supporting classes
  kernel/consciousness/systems.py
Due: mypy, purity-gate

fix(modal_harvest,neurochemistry): resolve all lint warnings
  kernel/consciousness/neurochemistry.py
  kernel/coordizer_v2/modal_harvest.py
Due: mypy, purity-gate

fix(constants,settings): raise exploit-mode token floor + update model refs
  kernel/config/consciousness_constants.py
  kernel/config/settings.py
  kernel/coordizer_v2/modal_harvest.py
Due: mypy, purity-gate

fix(modal_harvest): fully drive model/timeout from Railway env vars
  kernel/coordizer_v2/modal_harvest.py
Due: mypy, purity-gate

do it
  kernel/chat/store.py
Due: mypy, purity-gate

fix: graceful Redis fallback + add BudgetEnforcer.reconcile_count
  kernel/chat/store.py
  kernel/governance/budget.py
Due: mypy, purity-gate

Update kernel/governance/budget.py
  kernel/governance/budget.py
Due: mypy, purity-gate

Path conditions:
  mypy: any of: \.py$
  purity-gate: any of: \.py$
  eslint-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
  eslint-frontend: any of: ^frontend/src/ and \.(ts|mts|cts)$, \.tsx$
  prettier-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
