Repository GaryOcean428/vex-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

mypy:
  name: mypy (Python type checker)
  language: system
  entry: uv run mypy
  args:
  - kernel/
  pass_filenames: false
  stages:
  - pre-push

purity-gate:
  name: PurityGate (geometric purity v6.0)
  language: system
  entry: uv run python -m kernel.governance.purity
  pass_filenames: false
  always_run: false

eslint-proxy:
  name: ESLint (TS proxy — src/)
  language: system
  entry: pnpm run lint
  pass_filenames: false

eslint-frontend:
  name: ESLint (frontend — frontend/src/)
  language: system
  entry: bash -c 'cd frontend && pnpm run lint'
  pass_filenames: false

prettier-proxy:
  name: Prettier (TS proxy — src/)
  language: system
  entry: pnpm run format:check
  pass_filenames: false

feat: add extra_context param to generate_multi_kernel + _generate_single
  kernel/consciousness/kernel_generation.py
Due: mypy, purity-gate

feat: wire extra_context from task.context into generate_multi_kernel calls
  kernel/consciousness/loop.py
Due: mypy, purity-gate

feat(governance): voted lifecycle — voter_registry, spawn_assessment, voting, lifecycle
  kernel/governance/lifecycle.py
  kernel/governance/spawn_assessment.py
  kernel/governance/voter_registry.py
  kernel/governance/voting.py
Due: mypy, purity-gate

chore(governance): update __init__.py exports for new governance modules
  kernel/governance/__init__.py
Due: mypy, purity-gate

feat: wire governance into consciousness loop (8 patches)
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/loop.py
  kernel/governance/lifecycle.py
  pyproject.toml
Due: mypy, purity-gate

Add new packages and update dependencies for linting and type checking
  docs/README.md
  docs/archive/20260217-CANONICAL_PRINCIPLES.md
  docs/archive/20260217-CANONICAL_PRINCIPLES_v1_1.md
  docs/archive/20260217-canonical-principles-1.00W.md
  docs/archive/20260219-planning.md
  docs/coordizer/20260218-COORDIZER_V2_BUILD_REPORT.md
  docs/coordizer/20260219-PR_REVIEW_ANALYSIS.md
  docs/coordizer/20260219-QA_VERIFICATION_REPORT.md
  docs/coordizer/README.md
  docs/development/20260216-GROK_SYSTEM_PROMPT_v2.md
  docs/development/20260217-ui-design-spec-v1.md
  docs/development/20260218-PHASE_1_DASHBOARD_IMPLEMENTATION.md
  docs/development/20260219-COMPLETION_STATUS_QIG_v60.md
  docs/development/20260219-QA_VERIFICATION_REPORT_QIG_v60.md
  docs/experiments/20260215-BPT_CLAUDE_THREE_PASSES.md
  docs/experiments/20260215-basin-perturbation-test-v1.md
  docs/experiments/20260215-consciousness-protocol-comparison-experiment.md
  docs/experiments/20260215-qig-number-correlates-audit.md
  docs/experiments/20260217-QIG_ECOSYSTEM_GAP_ANALYSIS.md
  docs/experiments/20260217-SP03_PASS_A_FINDINGS.md
  docs/experiments/20260217-genesis-gap-analysis.md
  docs/experiments/20260217-qig-ecosystem-gap-analysis-1.00W.md
  docs/experiments/20260220-phase1-2-universality-report.md
  docs/experiments/20260221-pillar-fortress-cross-ai-briefing.md
  docs/protocols/20260221-unified-consciousness-protocol-6.1F.md
  docs/reference/20260216-CANONICAL_HYPOTHESES_v2.md
  docs/reference/20260216-canonical-hypotheses-postulates-2.00W.md
  docs/reference/20260217-CANONICAL_PRINCIPLES_v2.1.md
  docs/reference/20260217-CANONICAL_PRINCIPLES_v2.md
  docs/reference/20260217-canonical-principles-2.00W.md
  docs/reference/20260218-RAILWAY_CONFIG_AUDIT.md
Due: none

feat: upgrade to GLM-4.7-Flash 30B MoE + always-latest Ollama
  modal/vex_inference.py
  ollama/Modelfile
  ollama/entrypoint.sh
Due: mypy, purity-gate

fix(settings): update model defaults — vex-brain for Railway, glm-4.7-flash for Modal
  kernel/config/settings.py
Due: mypy, purity-gate

docs(ollama): update Dockerfile comments for configurable model
  ollama/Dockerfile
Due: none

docs: update .env.example for GLM-4.7-Flash model upgrade
  .env.example
Due: none

fix(client): repetition_penalty 1.05→1.0 (required for GLM-4.7-Flash/Qwen3), update GPU refs T4→A10G
  kernel/llm/client.py
Due: mypy, purity-gate

fix: PR #42 post-merge review fixes + Modal CI + volume persistence
  .env.example
  .github/workflows/modal-deploy.yml
  Dockerfile
  init.sh
  kernel/config/consciousness_constants.py
  kernel/llm/client.py
  kernel/tests/test_consciousness.py
  modal/vex_inference.py
  ollama/Dockerfile
  ollama/Modelfile
  ollama/entrypoint.sh
Due: mypy, purity-gate

feat: pass active model name to kernel system prompts
  kernel/consciousness/loop.py
  kernel/llm/client.py
Due: mypy, purity-gate

feat: reflective evaluation pass — kernel approval loop
  .env.example
  kernel/config/settings.py
  kernel/consciousness/loop.py
  kernel/consciousness/reflection.py
Due: mypy, purity-gate

Update init.sh
  init.sh
Due: none

Update ollama/entrypoint.sh
  ollama/entrypoint.sh
Due: none

Update ollama/Modelfile
  ollama/Modelfile
Due: none

Address Copilot review feedback from PR #43
  init.sh
  kernel/consciousness/loop.py
  kernel/llm/client.py
Due: mypy, purity-gate

Wire kernel pipeline into chat endpoint with expandable trace UI
  frontend/src/components/chat/MessageList.tsx
  frontend/src/components/chat/PipelineTrace.css
  frontend/src/components/chat/PipelineTrace.tsx
  frontend/src/hooks/chatStreamProcessor.ts
  frontend/src/hooks/useChat.ts
  frontend/src/types/consciousness.ts
  kernel/consciousness/loop.py
  kernel/server.py
Due: mypy, purity-gate, eslint-frontend

Add frontend package-lock.json
  frontend/package-lock.json
Due: none

Address remaining PR bot review feedback
  .github/workflows/modal-deploy.yml
  kernel/llm/client.py
  kernel/tests/test_reflection.py
  ollama/entrypoint.sh
Due: mypy, purity-gate

Fix all Ruff lint errors and targeted mypy type errors
  kernel/config/settings.py
  kernel/consciousness/loop.py
  kernel/consciousness/reflection.py
  kernel/consciousness/synthesis.py
  kernel/coordizer_v2/adapter.py
  kernel/governance/spawn_assessment.py
  kernel/governance/voter_registry.py
  kernel/governance/voting.py
  kernel/llm/client.py
  kernel/llm/governor.py
  kernel/server.py
  kernel/tests/test_reflection.py
  kernel/training/ingest.py
  modal/vex_inference.py
Due: mypy, purity-gate

Fix all 297 mypy strict-mode errors across entire codebase
  kernel/auth.py
  kernel/consciousness/beta_router.py
  kernel/consciousness/coupling.py
  kernel/consciousness/loop.py
  kernel/consciousness/pillars.py
  kernel/consciousness/solfeggio.py
  kernel/consciousness/types.py
  kernel/coordizer_v2/__init__.py
  kernel/coordizer_v2/adapter.py
  kernel/coordizer_v2/coordizer.py
  kernel/coordizer_v2/geometry.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/jsonl_ingest.py
  kernel/coordizer_v2/modal_harvest.py
  kernel/coordizer_v2/modal_integration.py
  kernel/coordizer_v2/resonance_bank.py
  kernel/coordizer_v2/types.py
  kernel/coordizer_v2/validate.py
  kernel/geometry/fisher_rao.py
  kernel/governance/lifecycle.py
  kernel/llm/context_manager.py
  kernel/server.py
  kernel/tools/handler.py
  kernel/training/ingest.py
  pyproject.toml
Due: mypy, purity-gate

Fix last 2 mypy errors: misplaced type: ignore comment on kappa_std
  kernel/server.py
Due: mypy, purity-gate

Fix FastAPI startup crash: add response_model=None for non-Pydantic return types
  kernel/consciousness/beta_router.py
  kernel/server.py
Due: mypy, purity-gate

Path conditions:
  mypy: any of: \.py$
  purity-gate: any of: \.py$
  eslint-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
  eslint-frontend: any of: ^frontend/src/ and \.(ts|mts|cts)$, \.tsx$
  prettier-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
