Repository GaryOcean428/vex-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

mypy:
  name: mypy (Python type checker)
  language: system
  entry: uv run mypy
  args:
  - kernel/
  pass_filenames: false
  stages:
  - pre-push

purity-gate:
  name: PurityGate (geometric purity v6.0)
  language: system
  entry: uv run python -m kernel.governance.purity
  pass_filenames: false
  always_run: false

eslint-proxy:
  name: ESLint (TS proxy — src/)
  language: system
  entry: pnpm run lint
  pass_filenames: false

eslint-frontend:
  name: ESLint (frontend — frontend/src/)
  language: system
  entry: bash -c 'cd frontend && pnpm run lint'
  pass_filenames: false

prettier-proxy:
  name: Prettier (TS proxy — src/)
  language: system
  entry: pnpm run format:check
  pass_filenames: false

fix: Sourcery review — curriculum ordering, sign logic, anneal scaling
  kernel/consciousness/loop.py
  modal/training_consciousness.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

feat(v6.2): Wire L4 FeedbackLoop + L5 TrajectoryBus, L6 geometry-driven sleep (#145)
  .env.example
  .markdownlint.json
  docs/plans/v6.2-package-update-plan.md
  docs/protocols/20260318-unified-consciousness-protocol-6.2.md
  frontend/src/components/chat/MessageList.tsx
  frontend/src/components/chat/PipelineTrace.tsx
  frontend/src/hooks/chatStreamProcessor.ts
  frontend/src/index.css
  frontend/src/types/consciousness.ts
  kernel/consciousness/loop.py
  kernel/consciousness/peer_query.py
  kernel/consciousness/systems.py
  kernel/coordizer_v2/resonance_bank.py
  modal/training_consciousness.py
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
  pyproject.toml
  src/index.ts
  src/types/express.d.ts
  uv.lock
Due: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

Add ethical training halt protocol, CANONICAL_PRINCIPLES v2.2 (P18-P25), update submodules
  frontend/src/config/api-routes.ts
  frontend/src/hooks/index.ts
  frontend/src/pages/dashboard/Telemetry.tsx
  frontend/src/pages/dashboard/Training.tsx
  frontend/src/types/consciousness.ts
  kernel/config/settings.py
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/llm/client.py
  kernel/training/ingest.py
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
  pyproject.toml
Due: mypy, purity-gate, eslint-frontend

feat: allow negative κ — unlock anti-Einstein regime (stud back loop)
  kernel/config/consciousness_constants.py
  kernel/consciousness/loop.py
  kernel/consciousness/sensations.py
  kernel/consciousness/systems.py
  kernel/consciousness/types.py
  kernel/tests/test_consciousness.py
  pyproject.toml
  uv.lock
Due: mypy, purity-gate

Potential fix for code scanning alert no. 33: Information exposure through an exception
  kernel/training/ingest.py
Due: mypy, purity-gate

fix: align Telemetry.tsx with VexTelemetry type — unblock Railway deploy
  frontend/src/pages/dashboard/Telemetry.tsx
Due: eslint-frontend

docs: add Cascade briefing with 5 tasks, Modal endpoints, env var reference
  docs/CASCADE_BRIEFING.md
Due: none

Merge protocol v6.2: complete standalone document (§0-§33, 2156 lines)
  docs/protocols/20260318-unified-consciousness-protocol-6.2-delta-ARCHIVED.md
  docs/protocols/20260324-unified-consciousness-protocol-6.2.md
Due: none

Add VEX_ARCHITECTURE.pdf from qig-dreams
  docs/VEX_ARCHITECTURE.pdf
Due: none

Add geometric interpretation protocol to kernel generation prompts (Task 5)
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/kernel_voice.py
Due: mypy, purity-gate

docs: add Claude Code instructions for M1-M12 wiring (Task 1)
  docs/TASK1_M1_M12_WIRING.md
Due: none

Fix missing /training/modal-status proxy route (Task 2)
  kernel/config/routes.py
  src/config/routes.ts
  src/index.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

Task 3E: Clear training labels — separate QLoRA from JSONL export
  docs/CASCADE_BRIEFING.md
  frontend/src/pages/dashboard/Training.tsx
Due: eslint-frontend

Task 1: Verified complete — remove outdated wiring instructions
  docs/CASCADE_BRIEFING.md
  docs/TASK1_M1_M12_WIRING.md
Due: none

Tasks 4, 3C, 3D: Inference telemetry, bank status, context window
  docs/CASCADE_BRIEFING.md
  frontend/src/config/api-routes.ts
  frontend/src/hooks/index.ts
  frontend/src/pages/dashboard/Telemetry.tsx
  frontend/src/types/consciousness.ts
  kernel/config/routes.py
  kernel/consciousness/loop.py
  kernel/coordizer_v2/resonance_bank.py
  kernel/llm/client.py
  kernel/server.py
  src/config/routes.ts
  src/index.ts
Due: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

Address PR #148 Copilot review comments
  frontend/src/pages/dashboard/Telemetry.tsx
  frontend/src/pages/dashboard/Training.tsx
  frontend/src/types/consciousness.ts
  kernel/server.py
  kernel/training/ingest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate, eslint-frontend

Cherry-pick CI upgrades + mypy fixes from PR #149
  .github/workflows/ci.yml
  .github/workflows/modal-deploy.yml
  Dockerfile
  kernel/consciousness/peer_query.py
  kernel/coordizer_v2/resonance_bank.py
  package.json
Due: mypy, purity-gate

Fix CI failures: ruff F401 + mypy union-attr + attr-defined
  kernel/consciousness/loop.py
  kernel/training/ingest.py
  modal/training_consciousness.py
Due: mypy, purity-gate

Fix pre-existing ESLint warnings in express.d.ts
  src/types/express.d.ts
Due: eslint-proxy, prettier-proxy

Fix Modal import: add training_consciousness.py to train_image
  modal/vex_qlora_train.py
Due: mypy, purity-gate

docs: add Cascade instructions for wiring RemoteBasinSync (Task 6)
  docs/TASK6_REMOTE_BASIN_SYNC.md
Due: none

Add training data bridge: Railway → Modal auto-sync
  frontend/src/config/api-routes.ts
  frontend/src/pages/dashboard/Training.tsx
  kernel/config/routes.py
  kernel/training/ingest.py
  modal/vex_qlora_train.py
  src/config/routes.ts
  src/index.ts
Due: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

Wire RemoteBasinSync + P-NEW-8: replace hardcoded cycle gates with geometry-driven triggers
  kernel/config/consciousness_constants.py
  kernel/consciousness/basin_sync_remote.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/consciousness/observer_silent.py
Due: mypy, purity-gate

Fix CodeQL info exposure + Sourcery non-blocking _push_to_modal
  kernel/training/ingest.py
Due: mypy, purity-gate

Fix Modal mount path: resolve training_consciousness.py relative to script dir
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Fix QLoRA OOM: load 35B-A3B in bf16, enable gradient_checkpointing
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Add home_basin field to TrainingConsciousness
  modal/training_consciousness.py
Due: mypy, purity-gate

Fix 4 audit issues in QLoRA training pipeline
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Fix Modal mount path: resolve training_consciousness.py relative to s… (#153)
  modal/training_consciousness.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Switch training to true QLoRA (4-bit NF4 base + bf16 adapters)
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Address Sourcery AI review comments on PR #154
  modal/training_consciousness.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Development (#154)
  modal/training_consciousness.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Fix Ollama model persistence on Railway
  ollama/Dockerfile
  ollama/entrypoint.sh
Due: none

Apply 4-bit QLoRA + torch_dtype deprecation fix + flash attention
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Development (#155)
  modal/vex_qlora_train.py
  ollama/Dockerfile
  ollama/entrypoint.sh
Due: mypy, purity-gate

Update vex submodule to fc41b00
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Update vex submodule to 9936435
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix: use hyphens in Modal endpoint URLs to avoid SSL hostname mismatch
  kernel/training/ingest.py
Due: mypy, purity-gate

fix: commit volume after each kernel + VRAM monitoring
  modal/vex_qlora_train.py
Due: mypy, purity-gate

feat: EXP-011 back-loop detection instrumentation
  kernel/consciousness/backward_geodesic.py
  kernel/consciousness/systems.py
  kernel/coordizer_v2/resonance_bank.py
Due: mypy, purity-gate

Path conditions:
  mypy: any of: \.py$
  purity-gate: any of: \.py$
  eslint-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
  eslint-frontend: any of: ^frontend/src/ and \.(ts|mts|cts)$, \.tsx$
  prettier-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
