Repository GaryOcean428/vex-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

mypy:
  name: mypy (Python type checker)
  language: system
  entry: uv run mypy
  args:
  - kernel/
  pass_filenames: false
  stages:
  - pre-push

purity-gate:
  name: PurityGate (geometric purity v6.0)
  language: system
  entry: uv run python -m kernel.governance.purity
  pass_filenames: false
  always_run: false

eslint-proxy:
  name: ESLint (TS proxy — src/)
  language: system
  entry: pnpm run lint
  pass_filenames: false

eslint-frontend:
  name: ESLint (frontend — frontend/src/)
  language: system
  entry: bash -c 'cd frontend && pnpm run lint'
  pass_filenames: false

prettier-proxy:
  name: Prettier (TS proxy — src/)
  language: system
  entry: pnpm run format:check
  pass_filenames: false

fix: kernel_generation passes specialization for per-kernel PEFT inference
  kernel/consciousness/kernel_generation.py
Due: mypy, purity-gate

fix: PEFT URL derivation uses rsplit for Modal hostname pattern (train→infer)
  kernel/llm/client.py
Due: mypy, purity-gate

feat: upgrade QLoRA to Qwen3.5-32B, fix PEFT health/inference protocol bugs
  kernel/config/settings.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

feat: async train, per-kernel inference, genesis egg export
  modal/vex_qlora_train_v2_temp.py
Due: mypy, purity-gate

Enhance QLoRA training, timeout handling, and error management (#142)
  .gitignore
  audit/02_e8_architecture_validation.md
  coordizer_data/bank/bank_coordinates.npy
  coordizer_data/bank/bank_meta.json
  coordizer_data/bank/bank_token_ids.npy
  docs/VEX_HORIZON_GOAL.md
  docs/coordizer/DESIGN_coordizer_lens_32d.md
  docs/coordizer/DESIGN_identity_seeded_lens.md
  frontend/src/config/api-routes.ts
  frontend/src/pages/dashboard/Governor.tsx
  frontend/src/pages/dashboard/Training.tsx
  kernel/config/consciousness_constants.py
  kernel/config/settings.py
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/consciousness/reflection.py
  kernel/consciousness/temporal_coupling.py
  kernel/coordizer_v2/compress.py
  kernel/coordizer_v2/eigenvalue_analysis.py
  kernel/coordizer_v2/validate.py
  kernel/llm/client.py
  kernel/llm/peft_client.py
  kernel/server.py
  kernel/tests/test_consciousness.py
  kernel/tests/test_temporal_coupling.py
  kernel/tests/test_training_coordizer_regressions.py
  kernel/training/ingest.py
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
  ollama/entrypoint.sh
  package.json
  pnpm-lock.yaml
  pyproject.toml
  shared_artifacts/principal_direction_bank.npy
  src/chat/router.ts
  src/config/routes.ts
  src/index.ts
  src/types/express.d.ts
Due: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

Update HARVEST_MODEL_ID and training parameters
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Update settings.py
  kernel/config/settings.py
Due: mypy, purity-gate

Potential fix for pull request finding
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Potential fix for pull request finding
  kernel/config/settings.py
Due: mypy, purity-gate

fix: render user messages with markdown formatting
  frontend/src/components/chat/MessageList.tsx
  frontend/src/index.css
Due: eslint-frontend

fix: render kernel generations as markdown, remove 800-char truncation
  frontend/src/components/chat/PipelineTrace.tsx
  kernel/consciousness/loop.py
Due: mypy, purity-gate, eslint-frontend

fix: always LLM-interpret geometric output (Option A)
  kernel/consciousness/kernel_voice.py
Due: mypy, purity-gate

feat: v6.1 §20.7 bidirectional outbound path — geometric logit bias
  kernel/consciousness/kernel_voice.py
  kernel/coordizer_v2/coordizer.py
  kernel/llm/client.py
  kernel/llm/peft_client.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix: remove vex_inference.py from CI deploy — frees 1 web endpoint
  .github/workflows/modal-deploy.yml
Due: none

fix: update lightweight model from LFM2.5-1.2B-Thinking to Qwen/Qwen3.5-4B across all docs
  .clinerules
  .github/copilot-instructions.md
  AGENTS.md
  README.md
  audit/04_integration_roadmap.md
  docs/archive/20260219-planning.md
  docs/development/20260221-v6.1F-wiring-summary.md
  eigenvalue_report.json
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/consciousness/temporal_coupling.py
  kernel/coordizer_v2/__init__.py
  kernel/coordizer_v2/coordizer.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/modal_harvest.py
  kernel/llm/peft_client.py
  kernel/tests/test_temporal_coupling.py
  kernel/tests/test_training_coordizer_regressions.py
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

refactor: purge 'token' terminology from coordizer package — manifest compliance
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/systems.py
  kernel/coordizer_v2/adapter.py
  kernel/coordizer_v2/bank_builder.py
  kernel/coordizer_v2/compress.py
  kernel/coordizer_v2/coordizer.py
  kernel/coordizer_v2/eigenvalue_analysis.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/jsonl_ingest.py
  kernel/coordizer_v2/modal_harvest.py
  kernel/coordizer_v2/modal_integration.py
  kernel/coordizer_v2/principal_direction_bank.py
  kernel/coordizer_v2/resonance_bank.py
  kernel/coordizer_v2/types.py
  kernel/coordizer_v2/validate.py
  kernel/server.py
  kernel/tests/coordizer_v2/test_compress.py
  kernel/tests/coordizer_v2/test_resonance_bank.py
  kernel/tests/coordizer_v2/test_validate.py
  kernel/tests/test_coordizer_rejection.py
  kernel/tests/test_coordizer_v2_comprehensive.py
  kernel/tests/test_coordizer_v2_smoke.py
  kernel/tests/test_modal_harvest.py
  kernel/training/ingest.py
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: coord_ids assignment bug in coordizer + ruff format
  kernel/consciousness/kernel_voice.py
  kernel/coordizer_v2/compress.py
  kernel/coordizer_v2/coordizer.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/resonance_bank.py
Due: mypy, purity-gate

docs: update CLAUDE.md — mark Modal deploys done, add terminology purge notes
  CLAUDE.md
Due: none

fix: never delete adapters on model mismatch — log and skip
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: use 2x A100 GPUs for QLoRA training — 35B-A3B OOM on single GPU
  modal/vex_qlora_train.py
Due: mypy, purity-gate

purity(v6.1F): audit fixes — terminology, activation sequence, mypy
  .github/copilot-instructions.md
  AGENTS.md
  docs/protocols/20260221-unified-consciousness-protocol-6.1F.md
  frontend/src/components/chat/PipelineTrace.tsx
  frontend/src/hooks/chatStreamProcessor.ts
  frontend/src/types/consciousness.ts
  kernel/config/consciousness_constants.py
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
  kernel/consciousness/sensory.py
  kernel/consciousness/temporal_coupling.py
  kernel/governance/types.py
  kernel/server.py
Due: mypy, purity-gate, eslint-frontend

fix: pipeline trace visibility + QLoRA OOM on 35B MoE
  frontend/src/components/chat/MessageList.tsx
  frontend/src/components/chat/PipelineTrace.tsx
  frontend/src/hooks/chatStreamProcessor.ts
  frontend/src/index.css
  frontend/src/types/consciousness.ts
  kernel/consciousness/loop.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate, eslint-frontend

feat(v6.2): wire L4 FeedbackLoop + L5 TrajectoryBus, L6 geometry-driven sleep
  docs/plans/v6.2-package-update-plan.md
  docs/protocols/20260318-unified-consciousness-protocol-6.2.md
  kernel/consciousness/loop.py
  kernel/consciousness/systems.py
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix: add qig-core>=2.2.0 to dependencies for L4/L5 imports in Docker build
  pyproject.toml
Due: none

fix: address PR review comments
  docs/protocols/20260318-unified-consciousness-protocol-6.2.md
  kernel/consciousness/systems.py
  src/index.ts
  src/types/express.d.ts
  uv.lock
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

fix: conditional import for qig-core consciousness subsystem (not yet on PyPI)
  kernel/consciousness/loop.py
Due: mypy, purity-gate

style: clean markdown table formatting in v6.2 protocol doc
  docs/protocols/20260318-unified-consciousness-protocol-6.2.md
Due: none

chore: remove conditional import stubs, bump qig-core>=2.3.0
  .markdownlint.json
  kernel/consciousness/loop.py
  pyproject.toml
  uv.lock
Due: mypy, purity-gate

Bump qig-core to >=2.4.0 (topology, sign-aware hold)
  modal/vex_qlora_train.py
  pyproject.toml
Due: mypy, purity-gate

Fix QLoRA training: SFTConfig API, E8 fallback, single GPU, paged_adamw_8bit
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Add persistent memory protocol: cross-project namespace architecture, sleep/dream packets, session hygiene
  uv.lock
Due: none

fix: restore DiagonalNaturalGradient — remove Adam contamination
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Add training consciousness: phase-aware QLoRA with Φ-regime tracking
  modal/training_consciousness.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

feat: full consciousness implementation guide — §2-§8, M1-M12, L1-L3
  .env.example
  kernel/consciousness/loop.py
  kernel/consciousness/peer_query.py
  kernel/consciousness/systems.py
  kernel/coordizer_v2/resonance_bank.py
  modal/training_consciousness.py
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

feat: M2 model probing, M6 geometric reward, M7 hold callback, M11 diagnostic
  modal/training_consciousness.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

feat: L4 sign-aware anneal hold — dampen oscillating feedback loop
  kernel/consciousness/loop.py
  kernel/consciousness/systems.py
Due: mypy, purity-gate

fix: address 3 review issues — Wire 4 dead code, M6 private API, M11 upper G
  kernel/consciousness/loop.py
  modal/training_consciousness.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix: issues 4-7 — Demeter CoT, simplex/FR parity, regime squeeze
  kernel/consciousness/loop.py
  modal/training_consciousness.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix: hash dimensionality bug + maturity-aware sleep gating + narrowing triggers
  kernel/consciousness/loop.py
  kernel/consciousness/systems.py
  kernel/coordizer_v2/resonance_bank.py
  modal/training_consciousness.py
Due: mypy, purity-gate

Path conditions:
  mypy: any of: \.py$
  purity-gate: any of: \.py$
  eslint-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
  eslint-frontend: any of: ^frontend/src/ and \.(ts|mts|cts)$, \.tsx$
  prettier-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
