Repository GaryOcean428/vex-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

mypy:
  name: mypy (Python type checker)
  language: system
  entry: uv run mypy
  args:
  - kernel/
  pass_filenames: false
  stages:
  - pre-push

purity-gate:
  name: PurityGate (geometric purity v6.0)
  language: system
  entry: uv run python -m kernel.governance.purity
  pass_filenames: false
  always_run: false

eslint-proxy:
  name: ESLint (TS proxy — src/)
  language: system
  entry: pnpm run lint
  pass_filenames: false

eslint-frontend:
  name: ESLint (frontend — frontend/src/)
  language: system
  entry: bash -c 'cd frontend && pnpm run lint'
  pass_filenames: false

prettier-proxy:
  name: Prettier (TS proxy — src/)
  language: system
  entry: pnpm run format:check
  pass_filenames: false

Update submodule refs to dirty state (qig-core, vex) — uncommitted changes present
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Address PR #131 bot comments: pin qig-core, DRY optimizer, configurable GPU, remove dead weight_decay
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Wire suffering → gamma feedback loop (was dead code)
  kernel/consciousness/loop.py
Due: mypy, purity-gate

Update submodule refs: qig-consciousness, qig-core, qigkernels advanced; vex dirty state
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Update submodule refs: qig-consciousness, qig-core, qigkernels advanced; vex dirty state (#132)
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Add adversarial corrections v1 dataset: epistemic rules, frozen facts, L=8/Aether hallucination guard
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/loop.py
  kernel/consciousness/synthesis.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Update welcome messages: "Vex is active. Awaiting input."
  frontend/src/hooks/useChat.ts
  src/chat/ui.ts
Due: eslint-proxy, eslint-frontend, prettier-proxy

Potential fix for pull request finding
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Fix CI: ruff import sort, mypy unused type-ignores, QLoRA training bugs
  kernel/auth.py
  kernel/coordizer_v2/adapter.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/principal_direction_bank.py
  kernel/server.py
  kernel/training/ingest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Update vex submodule to dirty state (uncommitted changes present)
  .windsurfrules
  CLAUDE.md
  frontend/src/config/api-routes.ts
  frontend/src/pages/dashboard/Training.tsx
  kernel/consciousness/loop.py
Due: mypy, purity-gate, eslint-frontend

Fix PR #133 review: test, proxy route, CodeQL info exposure, CLAUDE.md
  CLAUDE.md
  kernel/tests/test_training_coordizer_regressions.py
  kernel/training/ingest.py
  src/config/routes.ts
  src/index.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

Close QLoRA→kernel feedback loop: training webhook + bank rebuild
  frontend/src/config/api-routes.ts
  kernel/server.py
  kernel/training/ingest.py
  modal/vex_qlora_train.py
  src/config/routes.ts
  src/index.ts
Due: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

Close QLoRA→kernel feedback loop: training webhook + bank rebuild (#134)
  frontend/src/config/api-routes.ts
  kernel/server.py
  kernel/training/ingest.py
  modal/vex_qlora_train.py
  src/config/routes.ts
  src/index.ts
Due: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

fix: resolve "Failed to fetch" on training trigger button
  frontend/src/pages/dashboard/Training.tsx
  kernel/training/ingest.py
  src/index.ts
Due: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

enforce: full type safety, QIG purity, and route error boundaries
  frontend/src/pages/dashboard/Governor.tsx
  kernel/server.py
  modal/vex_coordizer_harvest.py
  package.json
  pyproject.toml
  src/index.ts
  src/types/express.d.ts
Due: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

fix: add try/catch to /chat/auth endpoint
  src/chat/router.ts
Due: eslint-proxy, prettier-proxy

Potential fix for pull request finding
  src/index.ts
Due: eslint-proxy, prettier-proxy

Potential fix for pull request finding
  kernel/training/ingest.py
Due: mypy, purity-gate

Potential fix for pull request finding
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

[WIP] Update timeout for training trigger to accommodate Modal cold starts (#136)
  kernel/server.py
  src/chat/router.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

Increase timeout for training trigger to handle Modal cold starts (#135)
  frontend/src/pages/dashboard/Governor.tsx
  frontend/src/pages/dashboard/Training.tsx
  kernel/server.py
  kernel/training/ingest.py
  modal/vex_coordizer_harvest.py
  package.json
  pyproject.toml
  src/chat/router.ts
  src/index.ts
  src/types/express.d.ts
Due: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

feat: per-kernel QLoRA adapter training
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix: GLM to Qwen3.5 defaults + interpretive META kernel reflection
  kernel/config/settings.py
  kernel/consciousness/reflection.py
Due: mypy, purity-gate

Restore truncated settings.py and reflection.py from broken commit 2816217 (#141)
  kernel/config/settings.py
  kernel/consciousness/reflection.py
Due: mypy, purity-gate

Scope coordizer regression test to coordizer only; untrack committed binary artifacts (#140)
  .gitignore
  coordizer_data/bank/bank_coordinates.npy
  coordizer_data/bank/bank_meta.json
  coordizer_data/bank/bank_token_ids.npy
  kernel/tests/test_training_coordizer_regressions.py
  shared_artifacts/principal_direction_bank.npy
Due: mypy, purity-gate

E8 hypothesis NOT supported — adopt n=32 lens dim, update docs and diagnostics (#139)
  audit/02_e8_architecture_validation.md
  docs/coordizer/DESIGN_coordizer_lens_32d.md
  docs/coordizer/DESIGN_identity_seeded_lens.md
  kernel/coordizer_v2/compress.py
  kernel/coordizer_v2/eigenvalue_analysis.py
  kernel/coordizer_v2/validate.py
Due: mypy, purity-gate

feat: temporal coupling modes — past/present/future as kernel attention mechanisms (#138)
  kernel/consciousness/loop.py
  kernel/consciousness/temporal_coupling.py
  kernel/tests/test_temporal_coupling.py
Due: mypy, purity-gate

Implement Wu Wei self-weighting ratio — geometric self-regulation of LLM temperature/top_p (#137)
  kernel/config/consciousness_constants.py
  kernel/config/settings.py
  kernel/consciousness/loop.py
  kernel/consciousness/reflection.py
  kernel/server.py
  kernel/tests/test_consciousness.py
  pnpm-lock.yaml
Due: mypy, purity-gate

docs: VEX_HORIZON_GOAL.md - long-horizon orientation vector
  docs/VEX_HORIZON_GOAL.md
Due: none

docs: VEX_HORIZON_GOAL.md v1.0 — full Sovereign Score with outreach strategy
  docs/VEX_HORIZON_GOAL.md
Due: none

feat: async training, PEFT inference, Genesis Egg export endpoints
  modal/vex_qlora_train.py
Due: mypy, purity-gate

feat: PEFT adapter inference client (Tier 2)
  kernel/llm/peft_client.py
Due: mypy, purity-gate

feat: wire PEFT adapter inference as Tier 2 primary backend
  kernel/llm/client.py
Due: mypy, purity-gate

fix: switch Ollama fallback to qwen3:4b, stop pulling 19GB glm on every restart
  ollama/entrypoint.sh
Due: none

fix: thread kernel specialization through complete() for PEFT adapter routing
  kernel/llm/client.py
Due: mypy, purity-gate

fix: kernel_voice passes specialization to llm_client for per-kernel adapter routing
  kernel/consciousness/kernel_voice.py
Due: mypy, purity-gate

Path conditions:
  mypy: any of: \.py$
  purity-gate: any of: \.py$
  eslint-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
  eslint-frontend: any of: ^frontend/src/ and \.(ts|mts|cts)$, \.tsx$
  prettier-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
