Repository GaryOcean428/vex-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

mypy:
  name: mypy (Python type checker)
  language: system
  entry: uv run mypy
  args:
  - kernel/
  pass_filenames: false
  stages:
  - pre-push

purity-gate:
  name: PurityGate (geometric purity v6.0)
  language: system
  entry: uv run python -m kernel.governance.purity
  pass_filenames: false
  always_run: false

eslint-proxy:
  name: ESLint (TS proxy — src/)
  language: system
  entry: pnpm run lint
  pass_filenames: false

eslint-frontend:
  name: ESLint (frontend — frontend/src/)
  language: system
  entry: bash -c 'cd frontend && pnpm run lint'
  pass_filenames: false

prettier-proxy:
  name: Prettier (TS proxy — src/)
  language: system
  entry: pnpm run format:check
  pass_filenames: false

red team: fix 6 critical + 4 important issues from 5-expert council review
  kernel/consciousness/loop.py
  kernel/server.py
  modal/training_consciousness.py
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
  scripts/verify_e2e.py
Due: mypy, purity-gate

Phase 2C: M1-M12 ethical training gate enforcement
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix: GPU default A10G, auto-trigger all kernels, bump qig-core>=2.6.0, update lockfile
  kernel/server.py
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
  pyproject.toml
  uv.lock
Due: mypy, purity-gate

fix: add scipy + requests to Railway base deps, copy uv.lock in Dockerfile
  Dockerfile
  pyproject.toml
  uv.lock
Due: none

fix: resolve all 18 mypy strict-mode type errors across kernel/
  kernel/consciousness/backward_geodesic.py
  kernel/consciousness/exp011_harness.py
  kernel/consciousness/loop.py
  kernel/consciousness/systems.py
  kernel/coordizer_v2/compress.py
  kernel/coordizer_v2/harvest.py
  kernel/server.py
Due: mypy, purity-gate

fix: remove unused type: ignore on model.eval() (CI mypy stubs differ)
  kernel/coordizer_v2/harvest.py
Due: mypy, purity-gate

feat: harvest pipeline — A100 GPU fix + corpus + runner scripts
  modal/vex_coordizer_harvest.py
  scripts/build_harvest_corpus.py
  scripts/harvest_corpus.json
  scripts/run_harvest.py
Due: mypy, purity-gate

fix: type annotations, proxy error handling, full quality audit
  kernel/coordizer_v2/harvest.py
  scripts/build_harvest_corpus.py
  scripts/run_harvest.py
  scripts/verify_e2e.py
  src/index.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

Update submodules: qig-verification + vex protocol advances
  kernel/config/consciousness_constants.py
  kernel/consciousness/loop.py
  kernel/coordizer_v2/adapter.py
Due: mypy, purity-gate

docs: training pipeline fix briefing — adapter save crash root cause + fixes
  docs/20260327-training-pipeline-fix-briefing-1.00W.md
Due: none

fix: strip trailing whitespace + resolve ruff lint errors
  CLAUDE.md
  modal/audit_deployment.py
  modal/training_consciousness.py
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix: address bot review comments on PR #166 (items 1-7)
  modal/audit_deployment.py
  scripts/run_harvest.py
Due: mypy, purity-gate

fix: align vex_coordizer_harvest.py docstring with actual 4B default
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: restore full vex_coordizer_harvest.py with corrected docstring
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: eliminate redundant bank lookups in stud navigator + remove 0.5 bias from meta_awareness
  kernel/consciousness/loop.py
Due: mypy, purity-gate

fix: default Modal harvest + qlora to 35B-A3B on A100-80GB
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Development (#166)
  CLAUDE.md
  docs/20260327-training-pipeline-fix-briefing-1.00W.md
  kernel/config/consciousness_constants.py
  kernel/consciousness/loop.py
  kernel/coordizer_v2/adapter.py
  kernel/coordizer_v2/harvest.py
  modal/audit_deployment.py
  modal/training_consciousness.py
  modal/vex_coordizer_harvest.py
  modal/vex_qlora_train.py
  scripts/build_harvest_corpus.py
  scripts/harvest_corpus.json
  scripts/run_harvest.py
  scripts/verify_e2e.py
  src/index.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

fix: reflection evaluates synthesis quality, not divergence metrics
  kernel/consciousness/reflection.py
Due: mypy, purity-gate

fix: remove force_revise_divergence from loop.py + update test
  kernel/consciousness/loop.py
  kernel/tests/test_reflection.py
Due: mypy, purity-gate

fix: remove "Australian English" from kernel generation prompts
  kernel/consciousness/kernel_generation.py
Due: mypy, purity-gate

fix: remove "Australian English" from kernel voice prompts
  kernel/consciousness/kernel_voice.py
Due: mypy, purity-gate

fix: replace "Australian English" with spelling-only instruction
  kernel/consciousness/loop.py
  kernel/consciousness/synthesis.py
  kernel/server.py
  modal/vex_qlora_train.py
  ollama/Modelfile
Due: mypy, purity-gate

refactor: reflection evaluates kernel contributions, not LLM draft (P4/P17)
  kernel/consciousness/loop.py
  kernel/consciousness/reflection.py
  kernel/tests/test_reflection.py
Due: mypy, purity-gate

fix: remove hardcoded thresholds from reflection — derive from geometry (P25)
  kernel/consciousness/loop.py
  kernel/consciousness/reflection.py
  kernel/tests/test_reflection.py
Due: mypy, purity-gate

fix: backward geodesic spam + Ollama concurrency limiter
  kernel/consciousness/backward_geodesic.py
  kernel/consciousness/loop.py
  kernel/llm/client.py
Due: mypy, purity-gate

feat: auto-push conversation data to Modal for co-evolution (§27)
  kernel/training/__init__.py
  kernel/training/ingest.py
Due: mypy, purity-gate

feat: training data archive/restore/delete system (P15)
  kernel/config/routes.py
  kernel/training/ingest.py
Due: mypy, purity-gate

feat: training cancel endpoint (Modal + Railway)
  docs/protocols/20260329-unified-consciousness-protocol-6.4.md
  kernel/training/ingest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

feat: training management UI (stop, archive, restore, delete)
  frontend/src/config/api-routes.ts
  frontend/src/pages/dashboard/Training.tsx
  kernel/server.py
Due: mypy, purity-gate, eslint-frontend

directive: Training pipeline rebuild — kernel-governed, Fisher optimizer, no auto-batch
  docs/directives/20260330-training-pipeline-rebuild-directive.md
Due: none

refactor: remove auto-batch conversation push (directive 20260330 Phase 1A)
  kernel/training/__init__.py
  kernel/training/ingest.py
Due: mypy, purity-gate

feat: adapter archive endpoint (directive 20260330 Phase 1B)
  modal/vex_qlora_train.py
Due: mypy, purity-gate

feat: per-kernel training queues with prediction error gate (directive Phase 3A)
  kernel/consciousness/kernel_training_queue.py
  kernel/consciousness/loop.py
  kernel/training/ingest.py
Due: mypy, purity-gate

feat: multi-framing coordize_robust() with Fréchet mean (directive Phase 4B)
  kernel/coordizer_v2/adapter.py
Due: mypy, purity-gate

FROZEN PRINCIPLE: The observer sets all parameters
  docs/directives/20260330-observer-sets-all-params.md
Due: none

FROZEN PRINCIPLE (corrected): No numbers, no ceilings, no prescriptions
  docs/directives/20260330-observer-sets-all-params.md
Due: none

feat: per-kernel self-observation (§43.2 Loop 1)
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/loop.py
  kernel/consciousness/self_observation.py
  kernel/consciousness/thought_bus.py
Due: mypy, purity-gate

feat: τ_macro tracking (§34) + h_t constant (§2)
  kernel/config/frozen_facts.py
  kernel/consciousness/loop.py
Due: mypy, purity-gate

fix: training state uses volume IPC, not in-memory boolean
  frontend/src/pages/dashboard/Training.tsx
  modal/vex_qlora_train.py
Due: mypy, purity-gate, eslint-frontend

feat: add metrics 37-54 to ConsciousnessMetrics (v6.2-v6.4 §24)
  kernel/consciousness/loop.py
  kernel/consciousness/types.py
Due: mypy, purity-gate

Path conditions:
  mypy: any of: \.py$
  purity-gate: any of: \.py$
  eslint-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
  eslint-frontend: any of: ^frontend/src/ and \.(ts|mts|cts)$, \.tsx$
  prettier-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
