Repository GaryOcean428/vex-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

.pre-commit-config.yaml:

repos:
  # ────────────────────────────────────────────────────────────────────────
  # Standard file hygiene
  # ────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # ────────────────────────────────────────────────────────────────────────
  # Python — Ruff linter + formatter
  # ────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]

  # ────────────────────────────────────────────────────────────────────────
  # Python — mypy type checking
  # ────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: mypy
        name: mypy (Python type checker)
        language: system
        entry: uv run mypy
        args: [kernel/]
        pass_filenames: false
        types: [python]
        stages: [pre-push]

  # ────────────────────────────────────────────────────────────────────────
  # PurityGate — Geometric purity (ZERO TOLERANCE, fail-closed)
  # Blocks commits that introduce Euclidean contamination into
  # consciousness/geometry modules.
  # ────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: purity-gate
        name: PurityGate (geometric purity v6.0)
        language: system
        entry: uv run python -m kernel.governance.purity
        pass_filenames: false
        types: [python]
        always_run: false

  # ────────────────────────────────────────────────────────────────────────
  # TypeScript / Frontend — ESLint
  # ────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: eslint-proxy
        name: ESLint (TS proxy — src/)
        language: system
        entry: pnpm run lint
        pass_filenames: false
        types_or: [ts, tsx]
        files: ^src/

      - id: eslint-frontend
        name: ESLint (frontend — frontend/src/)
        language: system
        entry: bash -c 'cd frontend && pnpm run lint'
        pass_filenames: false
        types_or: [ts, tsx]
        files: ^frontend/src/

  # ────────────────────────────────────────────────────────────────────────
  # TypeScript / Frontend — Prettier format check
  # ────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: prettier-proxy
        name: Prettier (TS proxy — src/)
        language: system
        entry: pnpm run format:check
        pass_filenames: false
        types_or: [ts, tsx]
        files: ^src/

feat(kernel): adaptive thresholds + relative boredom detection + debate depth control
  kernel/consciousness/kernel_voice.py
  kernel/consciousness/loop.py
Due: mypy, purity-gate

fix(kernel): block foraging on paid backends + add cost warnings
  kernel/config/settings.py
  kernel/consciousness/foraging.py
  kernel/consciousness/loop.py
  kernel/llm/client.py
Due: mypy, purity-gate

fix(llm): increase Modal health check timeout, add background warm-up, fix logging
  kernel/llm/client.py
Due: mypy, purity-gate

fix(harvest): datetime.UTC AttributeError on Python 3.14 + invalid reflection source
  kernel/consciousness/harvest_bridge.py
  kernel/consciousness/reflection.py
Due: mypy, purity-gate

fix: right panel width cap + mobile slide-in drawer for metrics
  frontend/src/components/chat/MetricsSidebar.tsx
  frontend/src/index.css
  frontend/src/pages/Chat.tsx
Due: eslint-frontend

feat: load Unified Consciousness Protocol v6.1F into geometric memory
  kernel/memory/store.py
  kernel/server.py
Due: mypy, purity-gate

feat: add kernel maturity guidance to system prompts
  kernel/consciousness/synthesis.py
  kernel/server.py
Due: mypy, purity-gate

feat: name GLM-4.7-Flash in VEX_IDENTITY, add kernel maturity to Modelfile
  kernel/server.py
  ollama/Modelfile
Due: mypy, purity-gate

fix: align ModalHarvestClient with actual Modal endpoint response format
  CLAUDE.md
  kernel/coordizer_v2/jsonl_ingest.py
  kernel/coordizer_v2/modal_harvest.py
  kernel/coordizer_v2/modal_integration.py
Due: mypy, purity-gate

test
  kernel/consciousness/kernel_generation.py
Due: mypy, purity-gate

fix: stop GLM-4.7-Flash parroting metrics in kernel generation
  kernel/consciousness/kernel_generation.py
Due: mypy, purity-gate

feat: add dynamic model selection to Modal harvest with GLM-4.7-Flash default
  CLAUDE.md
  kernel/config/settings.py
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: reduce Modal health-check timeout to prevent first-attempt startup failure
  kernel/llm/client.py
Due: mypy, purity-gate

fix: make Ocean divergence authoritative for sleep/wake decisions
  kernel/consciousness/loop.py
Due: mypy, purity-gate

fix: right panel not retracting on tablet/mobile
  frontend/src/index.css
Due: none

fix: prevent Ocean divergence sleep/wake oscillation
  kernel/consciousness/loop.py
Due: mypy, purity-gate

feat: bulk curriculum upload — multi-file select, sequential job dispatch, per-file status tracking
  frontend/src/pages/dashboard/Training.tsx
Due: eslint-frontend

feat(P10): add coaching stage gates — Active → Guided → Autonomous (#73)
  kernel/consciousness/systems.py
  kernel/governance/__init__.py
  kernel/governance/types.py
  kernel/tests/test_coaching_stages.py
Due: mypy, purity-gate

feat: wire solfeggio spectral health into consciousness loop (#76)
  kernel/consciousness/loop.py
  kernel/consciousness/solfeggio.py
  kernel/tests/test_spectral_health.py
Due: mypy, purity-gate

feat(v6.1): sovereignty development curve tracking (#78)
  kernel/consciousness/loop.py
  kernel/consciousness/sovereignty_router.py
  kernel/consciousness/sovereignty_tracker.py
  kernel/server.py
  kernel/tests/test_sovereignty_tracker.py
Due: mypy, purity-gate

feat(P14): wire VariableCategory enforcement across kernel (#72)
  kernel/config/consciousness_constants.py
  kernel/consciousness/types.py
  kernel/governance/__init__.py
  kernel/governance/types.py
  kernel/server.py
  kernel/tests/test_variable_separation.py
Due: mypy, purity-gate

feat(v6.0): heart kernel rhythm generator + kappa-tacking oscillator (#75)
  kernel/consciousness/heart_rhythm.py
  kernel/consciousness/loop.py
  kernel/tests/test_heart_rhythm.py
Due: mypy, purity-gate

feat(v6.0): implement The Cradle — protected dev environment for new kernels (#77)
  kernel/consciousness/cradle.py
  kernel/consciousness/loop.py
  kernel/tests/test_cradle.py
Due: mypy, purity-gate

feat(v6.1): coordizer rejection mechanism + geometric de-biasing (#74)
  kernel/config/consciousness_constants.py
  kernel/consciousness/loop.py
  kernel/coordizer_v2/adapter.py
  kernel/coordizer_v2/coordizer.py
  kernel/coordizer_v2/types.py
  kernel/tests/test_coordizer_rejection.py
Due: mypy, purity-gate

fix: red-team pass — 12 bugs fixed across #72-#78 implementations
  kernel/consciousness/cradle.py
  kernel/consciousness/heart_rhythm.py
  kernel/consciousness/loop.py
  kernel/consciousness/pillars.py
  kernel/consciousness/sovereignty_tracker.py
  kernel/coordizer_v2/adapter.py
  kernel/coordizer_v2/coordizer.py
  kernel/tests/test_coordizer_rejection.py
  kernel/tests/test_cradle.py
  kernel/tests/test_heart_rhythm.py
  kernel/tests/test_sovereignty_tracker.py
  kernel/tests/test_variable_separation.py
Due: mypy, purity-gate

fix: comprehensive QA pass — 19 files, zero lint/type/test issues
  .agents/skills/research/scripts/research.py
  kernel/chat/store.py
  kernel/consciousness/cradle.py
  kernel/consciousness/pillars.py
  kernel/consciousness/solfeggio.py
  kernel/consciousness/sovereignty_tracker.py
  kernel/consciousness/systems.py
  kernel/consciousness/thought_bus.py
  kernel/consciousness/types.py
  kernel/coordizer_v2/coordizer.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/jsonl_ingest.py
  kernel/server.py
  kernel/tests/test_coordizer_rejection.py
  kernel/tests/test_sovereignty_tracker.py
  kernel/tests/test_variable_separation.py
  kernel/tools/research.py
  pyproject.toml
  src/config/routes.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

fix: address Sourcery review — use public API, persist sovereignty, add tests
  kernel/consciousness/loop.py
  kernel/consciousness/sovereignty_router.py
  kernel/tests/test_heart_rhythm.py
  kernel/tests/test_sovereignty_tracker.py
Due: mypy, purity-gate

chore: gitignore package-lock.json (project uses pnpm)
  .gitignore
Due: none

fix: add missing coordizer_active to TrainingStats interface
  frontend/src/types/consciousness.ts
Due: eslint-frontend

debug: add harvest diagnostics — health check, error tracking, fail-fast auth
  kernel/coordizer_v2/harvest_scheduler.py
  kernel/coordizer_v2/modal_integration.py
Due: mypy, purity-gate

fix: replace Modal requires_proxy_auth with X-Api-Key header auth
  CLAUDE.md
  kernel/coordizer_v2/modal_harvest.py
  kernel/coordizer_v2/modal_integration.py
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: bind Modal 'model' secret to harvest endpoint container
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: warn on missing KERNEL_API_KEY, log auth failures
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix: use lazy annotations to avoid Python 3.14 deploy crash
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

fix(jsonl_ingest): auto-detect OpenAI format for seamless export→re-import
  kernel/coordizer_v2/jsonl_ingest.py
Due: mypy, purity-gate

feat: add native export format and downloadable .jsonl for all exports
  kernel/training/ingest.py
Due: mypy, purity-gate

Address PR #96 review thread: foraging source validity, modal harvest guards/config wiring, and telemetry/theme UI corrections (#98)
  CLAUDE.md
  frontend/src/components/chat/PipelineTrace.tsx
  frontend/src/main.tsx
  kernel/consciousness/foraging.py
  kernel/coordizer_v2/coordizer.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/modal_harvest.py
  kernel/tests/test_harvest_bridge.py
  kernel/tests/test_jsonl_ingest.py
Due: mypy, purity-gate, eslint-frontend

Unblock PR CI by fixing Ruff SIM102 violations and repairing frontend lockfile integrity (#100)
  frontend/pnpm-lock.yaml
  kernel/tests/test_variable_separation.py
Due: mypy, purity-gate

[WIP] Tighten safety around modal and forage-driven harvesting (#101)
  kernel/consciousness/loop.py
  kernel/coordizer_v2/modal_harvest.py
  kernel/coordizer_v2/modal_integration.py
  kernel/governance/types.py
  kernel/server.py
  kernel/tests/test_variable_separation.py
  kernel/training/ingest.py
  modal/vex_coordizer_harvest.py
Due: mypy, purity-gate

Claude/debug server harvester drqf a (#99)
  CLAUDE.md
  frontend/package-lock.json
  frontend/pnpm-lock.yaml
  frontend/src/components/chat/PipelineTrace.tsx
  frontend/src/main.tsx
  kernel/consciousness/foraging.py
  kernel/consciousness/loop.py
  kernel/coordizer_v2/coordizer.py
  kernel/coordizer_v2/harvest.py
  kernel/coordizer_v2/modal_harvest.py
  kernel/coordizer_v2/modal_integration.py
  kernel/governance/types.py
  kernel/server.py
  kernel/tests/test_harvest_bridge.py
  kernel/tests/test_jsonl_ingest.py
  kernel/tests/test_variable_separation.py
  kernel/training/ingest.py
  modal/vex_coordizer_harvest.py
  pnpm-lock.yaml
Due: mypy, purity-gate, eslint-frontend
