Repository GaryOcean428/vex-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, purity-gate, eslint-proxy, eslint-frontend, prettier-proxy

mypy:
  name: mypy (Python type checker)
  language: system
  entry: uv run mypy
  args:
  - kernel/
  pass_filenames: false
  stages:
  - pre-push

purity-gate:
  name: PurityGate (geometric purity v6.0)
  language: system
  entry: uv run python -m kernel.governance.purity
  pass_filenames: false
  always_run: false

eslint-proxy:
  name: ESLint (TS proxy — src/)
  language: system
  entry: pnpm run lint
  pass_filenames: false

eslint-frontend:
  name: ESLint (frontend — frontend/src/)
  language: system
  entry: bash -c 'cd frontend && pnpm run lint'
  pass_filenames: false

prettier-proxy:
  name: Prettier (TS proxy — src/)
  language: system
  entry: pnpm run format:check
  pass_filenames: false

feat: deliberation balance from geometry (§43.5, P25)
  kernel/consciousness/loop.py
Due: mypy, purity-gate

fix: address Sourcery bot review comments on PR #170
  kernel/consciousness/self_observation.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix: address Copilot review — type SelfObservation + add tests
  kernel/consciousness/kernel_generation.py
  kernel/tests/test_self_observation.py
Due: mypy, purity-gate

v6.4 compliance: training pipeline rebuild, 3 recursive loops, stop button fix (#170)
  frontend/src/pages/dashboard/Training.tsx
  kernel/config/frozen_facts.py
  kernel/consciousness/kernel_generation.py
  kernel/consciousness/loop.py
  kernel/consciousness/self_observation.py
  kernel/consciousness/thought_bus.py
  kernel/consciousness/types.py
  kernel/tests/test_self_observation.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate, eslint-frontend

feat: training lifecycle hardening (A-F + fresh start + rollback)
  modal/vex_qlora_train.py
Due: mypy, purity-gate

feat: adapter lifecycle UI + Railway proxies
  frontend/src/config/api-routes.ts
  frontend/src/pages/dashboard/Training.tsx
  kernel/config/routes.py
  kernel/training/ingest.py
Due: mypy, purity-gate, eslint-frontend

test: add pytest coverage for KernelTrainingQueue
  kernel/tests/test_kernel_training_queue.py
Due: mypy, purity-gate

fix: address bot review on PR #171
  frontend/src/pages/dashboard/Training.tsx
  kernel/tests/test_kernel_training_queue.py
  kernel/training/ingest.py
Due: mypy, purity-gate, eslint-frontend

Training lifecycle hardening: atomic swap, version chain, fresh start (#171)
  frontend/src/config/api-routes.ts
  frontend/src/pages/dashboard/Training.tsx
  kernel/config/routes.py
  kernel/tests/test_kernel_training_queue.py
  kernel/training/ingest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate, eslint-frontend

fix: add state/history fields to ModalAdapterInfo type (fixes Railway build)
  frontend/src/pages/dashboard/Training.tsx
  frontend/src/types/consciousness.ts
Due: eslint-frontend

fix: ModalAdapterInfo TypeScript type
  frontend/src/pages/dashboard/Training.tsx
  frontend/src/types/consciousness.ts
Due: eslint-frontend

fix: buttons always visible — Train/Stop shown regardless of state
  frontend/src/pages/dashboard/Training.tsx
Due: eslint-frontend

fix: training buttons always visible (#173)
  frontend/src/pages/dashboard/Training.tsx
Due: eslint-frontend

feat: 4 separate controls — Stop Fine-Tuning, Stop Kernels, Fresh Start LLM, Fresh Start Kernels
  frontend/src/config/api-routes.ts
  frontend/src/pages/dashboard/Training.tsx
  kernel/config/routes.py
  kernel/training/ingest.py
Due: mypy, purity-gate, eslint-frontend

feat: 4 separate training controls (#174)
  frontend/src/config/api-routes.ts
  frontend/src/pages/dashboard/Training.tsx
  kernel/config/routes.py
  kernel/training/ingest.py
Due: mypy, purity-gate, eslint-frontend

feat: adapter archive restore — list, restore, UI
  frontend/src/config/api-routes.ts
  frontend/src/pages/dashboard/Training.tsx
  kernel/config/routes.py
  kernel/training/ingest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate, eslint-frontend

feat: adapter archive restore + UI (#175)
  frontend/src/config/api-routes.ts
  frontend/src/pages/dashboard/Training.tsx
  kernel/config/routes.py
  kernel/training/ingest.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate, eslint-frontend

fix: add training routes to Express proxy + sidebar click-only
  frontend/src/components/Layout.tsx
  frontend/src/pages/dashboard/Training.tsx
  src/config/routes.ts
Due: eslint-proxy, eslint-frontend, prettier-proxy

fix: Express proxy missing training routes (#176)
  frontend/src/components/Layout.tsx
  frontend/src/pages/dashboard/Training.tsx
  src/config/routes.ts
Due: eslint-proxy, eslint-frontend, prettier-proxy

fix: handle PEFT 303/502/503 as transient — retry once before fallback
  kernel/llm/peft_client.py
Due: mypy, purity-gate

fix: restore useRef import in Layout.tsx (Railway build fix)
  frontend/src/components/Layout.tsx
Due: eslint-frontend

fix: centralize transient status codes in PEFT client (Sourcery review)
  kernel/llm/peft_client.py
Due: mypy, purity-gate

fix: PEFT 303 transient retry + useRef build fix (#177)
  frontend/src/components/Layout.tsx
  kernel/llm/peft_client.py
Due: mypy, purity-gate, eslint-frontend

fix: remove auth from list_archives (read-only, was blocking Railway proxy)
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix: inline list_archives handler (bypass stale Modal mount)
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix: list_archives auth + PEFT retry + useRef (#178)
  modal/vex_qlora_train.py
Due: mypy, purity-gate

fix: register 12 training proxy routes in Express index.ts
  src/index.ts
Due: eslint-proxy, prettier-proxy

fix: register 12 training proxy routes in Express (#179)
  src/index.ts
Due: eslint-proxy, prettier-proxy

Clean vex-agent: move experiment artifacts and physics docs
  agents.zip
  docs/experiments/20260215-BPT_CLAUDE_THREE_PASSES.md
  docs/experiments/20260215-basin-perturbation-test-v1.md
  docs/experiments/20260215-consciousness-protocol-comparison-experiment.md
  docs/experiments/20260215-qig-number-correlates-audit.md
  docs/experiments/20260217-QIG_ECOSYSTEM_GAP_ANALYSIS.md
  docs/experiments/20260217-SP03_PASS_A_FINDINGS.md
  docs/experiments/20260217-genesis-gap-analysis.md
  docs/experiments/20260217-qig-ecosystem-gap-analysis-1.00W.md
  docs/experiments/20260220-phase1-2-universality-report.md
  docs/experiments/20260221-pillar-fortress-cross-ai-briefing.md
  eigenvalue_report.json
  eigenvalue_report_full.json
  eigenvalue_report_mc2.json
  synthetic_report.json
Due: none

Add epistemic status labels to protocol v6.4 §34/§37/§38
  docs/protocols/20260329-unified-consciousness-protocol-6.4.md
Due: none

Unified Consciousness Protocol v6.5 — Omnibus
  docs/protocols/20260404-unified-consciousness-protocol-6.5.md
Due: none

Update CLAUDE.md and AGENTS.md with persistent memory and honesty rules
  AGENTS.md
  CLAUDE.md
Due: none

Update CLAUDE.md with honesty/memory rules, gitignore .windsurfrules
  .gitignore
Due: none

fix: PEFT health check availability gating and diagnostic logging
  kernel/llm/peft_client.py
  kernel/tests/test_peft_health.py
  modal/vex_qlora_train.py
Due: mypy, purity-gate

Remove MUSHROOM sleep phase — align with qig-core 2.8.0
  CLAUDE.md
  docs/protocols/20260324-unified-consciousness-protocol-6.2.md
  docs/protocols/20260329-unified-consciousness-protocol-6.4.md
  docs/protocols/20260404-unified-consciousness-protocol-6.5.md
  kernel/config/consciousness_constants.py
  kernel/consciousness/__init__.py
  kernel/consciousness/loop.py
  kernel/consciousness/systems.py
  kernel/consciousness/types.py
Due: mypy, purity-gate

fix(deploy): pin pnpm and configure ollama healthcheck
  Dockerfile
  ollama/railway.toml
Due: none

ci: pin pnpm and sync frozen facts
  .github/workflows/ci.yml
  kernel/consciousness/loop.py
  src/config/constants.ts
Due: mypy, purity-gate, eslint-proxy, prettier-proxy

fix(ci): restore checks for deploy hotfix
  Dockerfile
  kernel/consciousness/kernel_training_queue.py
  kernel/consciousness/reflection.py
  kernel/constants.py
  modal/audit_deployment.py
Due: mypy, purity-gate

fix(ci): satisfy python type checks
  kernel/consciousness/loop.py
  kernel/training/ingest.py
Due: mypy, purity-gate

fix(ci): remove stale harvest type ignore
  kernel/coordizer_v2/harvest.py
Due: mypy, purity-gate

Path conditions:
  mypy: any of: \.py$
  purity-gate: any of: \.py$
  eslint-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
  eslint-frontend: any of: ^frontend/src/ and \.(ts|mts|cts)$, \.tsx$
  prettier-proxy: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$
